MultipartFormDataContent Encoding problem

## my code
``` c#
     public async Task<string> test_6()
        {
            var client = new HttpClient();
            var multipartContent = new MultipartFormDataContent("-------boundary");
            var fileStream2 = File.Open(@"H:\开源的项目\新建文本文档.txt", FileMode.Open);
            var streamContent2 = new StreamContent(fileStream2);
            multipartContent.Add(streamContent2, "files", "新建文本文档.txt");
            var output = new MemoryStream();
            await multipartContent.CopyToAsync(output);
            output.Seek(0, SeekOrigin.Begin);
            string result = new StreamReader(output).ReadToEnd();
            return result;
        }

```

 ##  result：output
---------boundary
Content-Disposition: form-data; name=files; 
filename="=?utf-8?B5paw5bu65paH5pys5paH5qGjLnR4dA==?="; 
filename*=utf8''%E6%96%B0%E5%BB%BA%E6%96%87%E6%9C%AC%E6%96%87%E6%A1%A3.txt

������
---------boundary--

I want to use httpclient to upload files. When the name of the file is Chinese, the garbled code appears. I want to be able to upload Chinese files correctly. For example: `filename=“新建文本文档.txt“` instead of: `filename="=?utf-8?B?5paw5bu65paH5pys5paH5qGjLnR4dA==?="`

I want to encode the Content.header with UTF-8 and calculate the length instead of using DefaultHttpEncoding (Encoding.GetEncoding (28591)).
The source code is: src/System.Net.Http/src/System/Net/Http/HttpRuleParser.cs

System.Net.Http.HttpRuleParser

``` c#
internal static readonly Encoding DefaultHttpEncoding = Encoding.GetEncoding(28591);
```

[EDIT] Fix readability by @karelz

Do you have to do?
```csharp
multipartContent.Add(streamContent2, "files", Uri.EscapeDataString("新建文本文档.txt"));
```

The most RFC that governs encoding multipart content for HTTP is [RFC 7578(https://tools.ietf.org/html/rfc7578).

Section 4.2 describes how the 'filename' parameter should be encoded on the wire. Non-ASCII characters should not be directly used; rather, they should be encoded in some manner:

```
For form data that represents the content of a file, a name for the
   file SHOULD be supplied as well, by using a "filename" parameter of
   the Content-Disposition header field.  The file name isn't mandatory
   for cases where the file name isn't available or is meaningless or
   private; this might result, for example, when selection or drag-and-
   drop is used or when the form data content is streamed directly from
   a device.

   If a "filename" parameter is supplied, the requirements of
   Section 2.3 of [RFC2183] for the "receiving MUA" (i.e., the receiving
   Mail User Agent) apply to receivers of multipart/form-data as well:
   do not use the file name blindly, check and possibly change to match
   local file system conventions if applicable, and do not use directory
   path information that may be present.
```

So in your comment:

>I want to use httpclient to upload files. When the name of the file is Chinese, the garbled code appears. I want to be able to upload Chinese files correctly. For example: filename=“新建文本文档.txt“ instead of: filename="=?utf-8?B?5paw5bu65paH5pys5paH5qGjLnR4dA==?="

What do you consider as "garbled code"?  The encoding described by:

>filename="=?utf-8?B?5paw5bu65paH5pys5paH5qGjLnR4dA==?="

is not considered "garbled code".  Directly using Chinese characters (which are non-ASCII) doesn't map to the RFC definition.

Closing as there is nothing actionable at this moment. Feel free to reopen if/when you have more details. Thanks!

"no one" seems to be following the RFC's thou:-)
Here is a hack:

```
var hackedFileName = new string(Encoding.UTF8.GetBytes("新建文本文档.txt").Select(b => (char)b).ToArray());
streamContent2.Headers.Add("Content-Disposition", $"form-data; name=\"files\"; filename=\"{hackedFileName}\"");
multipartContent.Add(streamContent2);
```
