Linux HttpClient doesn't send request body when it receives an early response

Thanks to @markvincze for reporting this issue at https://github.com/aspnet/KestrelHttpServer/issues/2095. He made a solid repro app here: https://github.com/markvincze/KestrelRequestTimeout

> @markvincze Thanks for the awesome repro. It made it very easy to track down the issue. I captured a network trace using wireshark, and it looks like there is a bug in the Linux HttpClient.
>
> In your repro, Kestrel is sending a 200 response without sending a "HTTP/1.1 100 Continue" response or waiting for the first request body to even start uploading. This itself is not a bug, but this is what triggers the HttpClient issue.
>
> At this point, HttpClient should either upload the first request body before reusing the TCP connection for new requests or simply close the TCP connection. Instead, HttpClient on Linux is attempting to immediately send the following request without ever sending the 7000 byte response body for the first request.
>
> Kestrel interprets this "new request" as the body of the first request. The bytes and the very end of the the "new request" are interpreted as the beginning (i.e. start line) of the second request. Since Kestrel never technically receives a complete second request, it eventually times out and sends a 408 response.
>
> ![image](https://user-images.githubusercontent.com/54385/31205225-0a2da638-a925-11e7-925c-079039d83aa5.png)


https://github.com/aspnet/KestrelHttpServer/issues/2095#issuecomment-334322361

> At this point, HttpClient should either upload the first request body before reusing the TCP connection for new requests or simply close the TCP connection.

Where is that specified?

I'm not sure whether [the spec](https://tools.ietf.org/html/rfc2616#section-8.2.3) specifically calls out the requirement for the client to still send the request body even without receiving a "HTTP/1.1 100 Continue" response. It stands to reason that the body should still be sent since the feature is designed to be backwards compatible with servers that predate 100-continue.

Maybe @Tratcher has a better link or explanation.

> It stands to reason that the body should still be sent

As far as I can tell, this just isn't how libcurl handles Expect: 100-continue; if it receives the full response before it's sent the request body, it doesn't bother to send the request body.  If you believe that's a bug in libcurl, you could open an issue in the curl repo.  I could of course be wrong about what it's doing.

I'm not sure we can do much about this in CurlHandler; the only thing that comes to mind is explicitly forcing libcurl not to use Expect: 100-continue unless it's been explicitly asked for, whereas by default libcurl has its own heuristics for when to use Expect: 100-continue, but if a user explicitly sets it on or off, we make libcurl respect that.

The client specified a given content-length and must send that much content or close the connection. Otherwise the server does not know if the next bytes it receives are content or the next request. A similar situation exists for chunked bodies, except that you could shortcut and just send the chunked terminator.

The 100 Continue description does not call this out, but it does specify the reverse scenario:
https://tools.ietf.org/html/rfc7231#section-5.1.1
>  A server that responds with a final status code before reading the
      entire message body SHOULD indicate in that response whether it
      intends to close the connection or continue reading and discarding
      the request message (see Section 6.6 of [RFC7230]). // E.g. Connection: Close

If sending the data were optional then there would be a race condition because the client does not always wait for the 100 Continue.
>    o  A client that sends a 100-continue expectation is not required to
      wait for any specific length of time; such a client MAY proceed to
      send the message body even if it has not yet received a response.
      Furthermore, since 100 (Continue) responses cannot be sent through
      an HTTP/1.0 intermediary, such a client SHOULD NOT wait for an
      indefinite period before sending the message body.

The Content-Length description does say you need to send all of the bytes or the request is incomplete.
https://tools.ietf.org/html/rfc7230#section-3.3.3
>   5.  If a valid Content-Length header field is present without
       Transfer-Encoding, its decimal value defines the expected message
       body length in octets.  If the sender closes the connection or
       the recipient times out before the indicated number of octets are
       received, the recipient MUST consider the message to be
       incomplete and close the connection.
...
   A message body that uses the chunked transfer coding is incomplete if
   the zero-sized chunk that terminates the encoding has not been
   received.  A message that uses a valid Content-Length is incomplete
   if the size of the message body received (in octets) is less than the
   value given by Content-Length. 

I found a few old reports of this problem with libcurl:
https://curl.haxx.se/mail/lib-2004-08/0002.html
https://curl.haxx.se/mail/lib-2011-06/0194.html
I'll try to reproduce it with lib/curl outside of .NET.

Curl.exe demonstrates one of the two correct behaviors, when it receives a final status code rather than a 100 Continue it closes the connection. This implies that the issue with libcurl is a usage issue rather than an inherent defect. .NET may need to mirror Curl's behavior.

Presumably you're testing with 200 rather than an error status code?  Can you share what curl command-line you're using on Unix?  I'd like to see what that triggers in libcurl.

I was testing with curl on windows. The first response was a 301 so I could induce the exe to make an additional request on the same connection. When the server sends a 100 continue the client uploads the remaining data and then follows the redirect on the same connection. When the server sends just the 301 then the client closes the connection and creates a new one for the redirect.
`curl -L -d "@data.txt" -X POST http://localhost:14895/data` 
data.txt is a 5kb file.

> The first response was a 301

And in this case you saw curl.exe close the connection, but connecting to the same 301-returning-url with HttpClient didn't close the connection?

I asked about a 200 status code because libcurl special-cases >= 300 status codes in this behavior:
https://github.com/curl/curl/blob/master/lib/http.c#L3168-L3208
so I don't think the test is verifying the desired behavior.

Fair. I don't see another way to make curl.exe send multiple requests in the same instance (and therefor on the same connection) so we won't be able to repro the original scenario using the exe.

The new ManagedHandler has the same bug.
https://github.com/dotnet/corefx/commit/791f81d2d8eb45e5077d2c0c17e784ad597c5e3a#diff-f70b71fa62ffc09de0b0d0dcdd33a4bcR455

@stephentoub are we at least clear on the expected behavior? 

The counter example may explain it best:
100-continue is an inherent race condition. The client is waiting for a 100 response or a final response, but only for a given timeout. When the server sends the final response without a 100, it has no way of knowing if the client's timer has expired and it has already started sending data. This would be an ambiguous situation as the server wouldn't reliably know if the next bytes it received were the body it was promised or the headers for the next request. To prevent this ambiguity the client must always send the data it promised, or a chunked terminator, or close the connection.

> To prevent this ambiguity the client must always send the data it promised, or a chunked terminator, or close the connection.

That's a solution.  Isn't another that a server which chooses to send a final status code without sending 100 continue closes the connection?

Yes the server could close the connection, but that would remove the ability for the client to choose to re-use the connection. Connection re-use is critical for HTTP perf, especially for SSL scenarios.

> Connection re-use is critical for HTTP perf, especially for SSL scenarios.

2 + 2 == 4.

Oh, sorry, I thought we were just stating obvious things. :smile:

> but that would remove the ability for the client to choose to re-use the connection

Sure, I'm just highlighting that, as far as I can tell, the spec doesn't specify that either is required (even though I agree one is), so calling this a bug in the client seems misguided.  If anything it's a bug in the spec, and then it's a matter of folks determining whether they want to address it in the client or in the server.  Since there's no governing body that gets to control every client and every server out there, it almost seems like like any server that wants to protect against this kind of thing would need to do what I suggested, and if it chooses to send a final status code rather than 100 continue and it hasn't received the full promised payload, close the connection, in case it's dealing with a client that's not protecting itself (e.g. Kestrel with a libcurl multi-handle-based client).  And similarly it seems like any client would need to either send the full payload or close the connection, in case it's dealing with a server that's not protecting itself (e.g. CurlHandler dealing with Kestrel).

As for the perf impact of not connection pooling, the whole point of Expect: 100-continue is to avoid sending the payload.  If the mitigation of the client is to always send the payload, regardless of whether it gets back 100-continue or a final status code, then what's the point of Expect: 100-continue?  Which means the client's mitigation is to close the connection, at which point you've lost the connection reuse anyway.

For ManagedHandler, I'll change it to send the content if it gets back a < 300 status code (or if the request content size is known and small, maybe, say <= 1024 bytes) and otherwise close the connection when done.  For CurlHandler, I don't see any way to override libcurl's behavior here: CURLOPT_KEEP_SENDING_ON_ERROR would allow for continuing to send the payload for error status codes, but that wouldn't help with success status codes and it also defeats the purpose of Expect: 100-continue.  The best I think we could do would be to change how we treat HttpRequestHeaders.ExpectContinue == null, such that we behave as if it was false, and then if someone opts-in to it explicitly by setting ExpectContinue to true, well, they get the implementation libcurl provides.

Thanks. It's not the first time the spec's clarity is less than desired :-)

:+1: for your ManagedHandler and CurlHandler proposals.

From your answer I realized my assertions make more sense when combine. Creating a new connection is expensive, and sending the request body may be expensive, and the client is in the best position to make a calculated trade off between the two. It has the most information about the request body and may take into account the total size if known, whether or not the content is buffered and can be sent multiple times, if the status code indicates the content may be resent (401, 307, etc.), if the response/connection are marked for closure, etc.. Some of the flags in the libcurl implementation appear to be based on metrics like these. Your ManagedHandler proposal definitely addresses the corruption issue and is a good start on the trade-off calculation. We'll see how much refinement is warranted in the future.