System.Net.Http.WinHttpException: The server returned an invalid or unrecognized response

When a server returns a HTTP header which has a white space in the header name, then the `HttpClient` throws the following error:

```
System.Net.Http.WinHttpException: The server returned an invalid or unrecognized response  
at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.ConfiguredTaskAwaitable`1.ConfiguredTaskAwaiter.GetResult()
   at System.Net.Http.HttpClient.<FinishSendAsync>d__58.MoveNext()
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
```

I tried to create a simple ASP.NET Core application to reproduce this issue, but it seems that there is another bug in ASP.NET Core which causes a server issue when trying to set this HTTP header:

```csharp
app.Run(async (ctx) =>
            {
                ctx.Response.Headers.Add("some -test", "abcdef");
                await ctx.Response.WriteAsync("Hello world");
            });
```

>When a server returns a HTTP header which has a white space in the header name, then the  HttpClient  throws the following error:

A white-space character within a header name is not valid RFC.  So, it would be expected that the HTTP stack would throw back an error: "The server returned an invalid or unrecognized response "

@davidsh I tried to find the RFC which says that, but I couldn't find it. Have you got a link?

Original HTTP RFC is RFC2616:
https://www.ietf.org/rfc/rfc2616.txt

But that was obsoleted in favor of the RFC7230+.
https://www.ietf.org/rfc/rfc7230.txt


From RFC7230, white space is not allowed in a 'token':

```

3.2.  Header Fields

   Each header field consists of a case-insensitive field name followed
   by a colon (":"), optional leading whitespace, the field value, and
   optional trailing whitespace.









Fielding & Reschke           Standards Track                   [Page 22]
 
RFC 7230           HTTP/1.1 Message Syntax and Routing         June 2014


     header-field   = field-name ":" OWS field-value OWS

     field-name     = token
     field-value    = *( field-content / obs-fold )
     field-content  = field-vchar [ 1*( SP / HTAB ) field-vchar ]
     field-vchar    = VCHAR / obs-text

     obs-fold       = CRLF 1*( SP / HTAB )
                    ; obsolete line folding
                    ; see Section 3.2.4

   The field-name token labels the corresponding field-value as having
   the semantics defined by that header field.  For example, the Date
   header field is defined in Section 7.1.1.2 of [RFC7231] as containing
   the origination timestamp for the message in which it appears.
```

Closing this issue since the repro violates RFCs.  Let us know if you have more questions or a different repro for this error that uses valid RFC HTTP responses?