HttpClient sending fragment portion of uri on request

The code [here](https://github.com/stephentoub/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L395) was changed in https://github.com/dotnet/corefx/pull/27360/ to address a redirect issue with fragments.  However, in the non-redirect case, the fragment portion of the URI is not sent on the request per [section 9.5 of RFC 7231](https://tools.ietf.org/html/rfc7231#section-9.5).  Although many http sites ignore the fragment and return the document, some will instead return a 404.

This is causing a regression in the PowerShell webcmdlet compared to Windows PowerShell 5.1 (.NET Framework 4.x).  https://github.com/PowerShell/PowerShell/issues/7796

@rmkerr 

Hey @SteveL-MSFT, can you provide an isolated repro for this issue? We currently have tests for this behavior that pass, and it would be helpful to know what is different in your case.

@rmkerr tried to find a public web service that returned the raw URL of the request, but couldn't find one as they all seem to ignore the fragment and treat the URL as though the fragment wasn't supplied.    However, you can repro this easily with our test weblistener.  You can repro using these steps using PowerShell Core 6:

```powershell
pwsh
git clone https://github.com/powershell/powershell
cd powershell
ipmo ./build.psm1
publish-pstesttools
start-weblistener
$url = get-weblistenerurl
$h = [System.Net.Http.HttpClient]::new()
$h.GetAsync($url)  # this works
$h.GetAsync("$url#fragment") # this fails with 404
```


Right now, I can't remember why we decided in #27360 to send fragments. This does seem wrong per the RFC as quoted above.

Is WinHttpHandler sending fragments? Is that why we did it? @stephentoub do you recall?

I don't remember the details, other than a vague recollection that the rfc wasn't very explicit and the various other implementations were all over the map in what they choose to do and when, often inconsistently, so we just decided to always send.

I took another look at the spec, and I think we are probably not supposed to be sending the fragment. Take a look at the definition for http_URL in [RFC 2616](https://tools.ietf.org/html/rfc2616#section-3.2.2), which appears to ignore the fragment:
```
http_URL = "http:" "//" host [ ":" port ] [ abs_path [ "?" query ]]
```
There's also this section of the [URI spec](https://tools.ietf.org/html/rfc3986#section-3.5), which seems to say we should never be using the fragment to locate a resource:
```
the fragment identifier is not used in the scheme-specific
   processing of a URI; instead, the fragment identifier is separated
   from the rest of the URI prior to a dereference, and thus the
   identifying information within the fragment itself is dereferenced
   solely by the user agent, regardless of the URI scheme.
```
I think we should probably double check it by seeing how browsers behave, but if we do choose to drop the fragment there's a basis for that behavior in the spec.

>Take a look at the definition for http_URL in RFC 2616, which appears to ignore the fragment:

I'd recommended you not look at RFC 2616 since it has been replaced by the RFC 723x documents.

If we decide to change it, it should be as easy as changing one line:
https://github.com/dotnet/corefx/blob/581627f713477fda8ac87be8dac74ff017d955cf/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L395
putting it back to the way it used to be:
https://github.com/dotnet/corefx/pull/27360/files#diff-300922d9e15c1d874df079b5746c8f10L281
plus updating the tests, of course (the currently validate the previously decided-upon behavior).

Thanks David, 7230 makes it a lot clearer. The fragment is actually included in the definition of http_URL there, and the issue is addressed in more detail. [Section 5.1](https://tools.ietf.org/html/rfc7230#section-5.1) "Identifying a Target Resource" specifies:
```
The target URI excludes the reference's fragment component, if any,
   since fragment identifiers are reserved for client-side processing
```

> plus updating the tests, of course (the currently validate the previously decided-upon behavior).

Which tests do you mean? The redirect tests? I think those should still be valid -- the RequestUri should still propagate the fragment on redirect, it just shouldn't send the fragment on the wire.

Or are there other tests you mean?

In #32415, you can find a real server that return a 404 when fragment is sent.

If it can help, as I mentioned in the same issue, .NET Framework was ignoring fragment. I also tested with Postman, the same. I know that other (old) implémentations could be bad ones also, but still some references.


I'm not actively working on this issue, but I want to summarize before I forget.

Our next steps should be to:
(1) Verify the expected behavior, so that if we make a change we make the correct one.
(2) Make the fix if necessary, as described in [this comment](https://github.com/dotnet/corefx/issues/32378#issuecomment-424392006).
(3) Update the tests, removing any checks that validate that the fragment is send on the wire.

Should be fairly straightforward, marking as "up for grabs" - @rmkerr can provide additional details if needed.