System.Net.Http.Headers.DateHeaderParser in FW 4.7.2 doesn't support numerous date/time formats (UTC specifically)

In the [current version](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Headers/DateHeaderParser.cs), `DateHeaderParser` [delegates to `System.Net.HttpDateParser`](https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Net/HttpDateParser.cs) which supports the following date/time formats:

```csharp
        private static readonly string[] s_dateFormats = new string[] {
            // "r", // RFC 1123, required output format but too strict for input
            "ddd, d MMM yyyy H:m:s 'GMT'", // RFC 1123 (r, except it allows both 1 and 01 for date and time)
            "ddd, d MMM yyyy H:m:s 'UTC'", // RFC 1123, UTC
            "ddd, d MMM yyyy H:m:s", // RFC 1123, no zone - assume GMT
            "d MMM yyyy H:m:s 'GMT'", // RFC 1123, no day-of-week
            "d MMM yyyy H:m:s 'UTC'", // RFC 1123, UTC, no day-of-week
            "d MMM yyyy H:m:s", // RFC 1123, no day-of-week, no zone
            "ddd, d MMM yy H:m:s 'GMT'", // RFC 1123, short year
            "ddd, d MMM yy H:m:s 'UTC'", // RFC 1123, UTC, short year
            "ddd, d MMM yy H:m:s", // RFC 1123, short year, no zone
            "d MMM yy H:m:s 'GMT'", // RFC 1123, no day-of-week, short year
            "d MMM yy H:m:s 'UTC'", // RFC 1123, UTC, no day-of-week, short year
            "d MMM yy H:m:s", // RFC 1123, no day-of-week, short year, no zone

            "dddd, d'-'MMM'-'yy H:m:s 'GMT'", // RFC 850
            "dddd, d'-'MMM'-'yy H:m:s 'UTC'", // RFC 850, UTC
            "dddd, d'-'MMM'-'yy H:m:s zzz", // RFC 850, offset
            "dddd, d'-'MMM'-'yy H:m:s", // RFC 850 no zone
            "ddd MMM d H:m:s yyyy", // ANSI C's asctime() format

            "ddd, d MMM yyyy H:m:s zzz", // RFC 5322
            "ddd, d MMM yyyy H:m:s", // RFC 5322 no zone
            "d MMM yyyy H:m:s zzz", // RFC 5322 no day-of-week
            "d MMM yyyy H:m:s", // RFC 5322 no day-of-week, no zone
        };
```

In Framework 4.7.2 and NuGet 4.3.4, `DateHeaderParser` delegates to `System.Net.Http.HttpRuleParser` which supports these date/time formats (disassembled from `System.Net.Http.dll` since the 4.7.2 sources aren't available from symbol servers):

```csharp
    private static readonly string[] dateFormats = new string[15]
    {
      "ddd, d MMM yyyy H:m:s 'GMT'",
      "ddd, d MMM yyyy H:m:s",
      "d MMM yyyy H:m:s 'GMT'",
      "d MMM yyyy H:m:s",
      "ddd, d MMM yy H:m:s 'GMT'",
      "ddd, d MMM yy H:m:s",
      "d MMM yy H:m:s 'GMT'",
      "d MMM yy H:m:s",
      "dddd, d'-'MMM'-'yy H:m:s 'GMT'",
      "dddd, d'-'MMM'-'yy H:m:s",
      "ddd MMM d H:m:s yyyy",
      "ddd, d MMM yyyy H:m:s zzz",
      "ddd, d MMM yyyy H:m:s",
      "d MMM yyyy H:m:s zzz",
      "d MMM yyyy H:m:s"
    };
```

As a result, `DateHeaderParser` in 4.7.2 supports fewer date/time formats - in particular UTC formats are missing. What's (impressively) sad is that ye olde `System.Net.WebClient` **does** handle these formats correctly!

Is this a known issue, does Microsoft care if so, and will there be a fix in Framework 4.8?

For reference, the change that added the extra date/time formats was made in #28843 - about a year ago. [This comment](https://github.com/dotnet/corefx/pull/28843#issuecomment-378993840) indicates that the change probably should be considered for backporting to the Framework - not sure if that got lost and forgotten along the way or was decided against.

The current version of `System.Net.Http` on NuGet also does not include this change, and since the linked PR is flagged for the .NET Core 3.0 milestone, I assume it's not in Core 2.x either?

@karelz 

@IanKemp 

>For reference, the change that added the extra date/time formats was made in #28843 - about a year ago. This comment indicates that the change probably should be considered for backporting to the Framework - not sure if that got lost and forgotten along the way, or was decided against, or...

The change was not ported back to .NET Framework. There are no plans to do so.  .NET Framework is much more sensitive to changes which could cause applications to break since it is installed on the machine and used globally by all .NET Framework applications.

>The current version of System.Net.Http on NuGet seems to mirror the version shipped with FW 4.7.2 and thus does not include this change, and since the linked PR is flagged for the .NET Core 3.0 milestone, I assume it's not in Core 2.x either?

The System.Net.Http NuGet package is obsolete at this point.  .NET Core now ships most of the binaries are in combined package, such as Microsoft.NETCore.App.  The change you cited, #28843 is in .NET Core current version. You should not be referencing System.Net.Http NuGet package anymore if possible.

> 
> 
> > The current version of System.Net.Http on NuGet seems to mirror the version shipped with FW 4.7.2 and thus does not include this change, and since the linked PR is flagged for the .NET Core 3.0 milestone, I assume it's not in Core 2.x either?
> 
> The System.Net.Http NuGet package is obsolete at this point. .NET Core now ships most of the binaries in a combined package, such as [Microsoft.NETCore.App](https://www.nuget.org/packages/Microsoft.NETCore.App). The change you cited #28843 is in .NET Core current version. You should not be referencing System.Net.Http NuGet package anymore if possible.

I'm not using .NET Core, I'm using .NET Framework. I have `WebClient` code that I want to port to `HttpClient` since the former is essentially EOL, but I can't because neither the Framework nor the NuGet package for `System.Net.Http` has the fixes that I need. Framework 4.8, released today, doesn't have these fixes either.

So what you're essentially telling me is that I'm SOL unless I upgrade to Core, which apart from not being possible for my project at this time, seems like a rather drastic step just to get some fixes. (No, they are not "changes", they are fixes for the fact that `HttpClient` was buggy by not being not feature-compatible with `WebClient`.) That doesn't sit particularly well with me, for reasons I'm sure you can understand.

Given all of this, it's rather amusing that every .NET Framework docs page for `WebClient` states:

> We don't recommend that you use the WebClient class for new development. Instead, use the System.Net.Http.HttpClient class.

Recommending that people use a class *that has fewer features* than `WebClient` is moronic at best.

@IanKemp please let's try to be civil (see [code of conduct](https://github.com/dotnet/corefx/blob/master/CODE_OF_CONDUCT.md) for reference).

I hear your frustration, but sadly here is the reality:
1. Changing .NET Framework (even if it is a bug fix) means huge risk of breaking someone. In production. Unexpetadly. Nobody likes that.
2. This issue exists for 7 years and this is the first time we hear about it. So, while it may impact your scenario a lot and badly, it does not seem to bother large number of customers.
3. `WebClient` is indeed old technology that has been replaced. Yes, the new technology is not perfect and has bugs (like every other SW or library in the world). While it is not recommended, it still is there and therefore you can still use it if you have good reasons (like your situation). Nobody will ever pull it out. The only caveat is that fixes there will be even less likely to happen than in `HttpClient` (due to lower usage, higher risk, etc.).
4. The NuGet package was a HUGE mistake we did in the past - it is causing lots of headaches to many customers due to combo with other bugs and causes lots of complexity in tooling, runtime, and shipping agility, etc. If we could turn back time, we would have never shipped that. Sadly, this is where we are, we have to live with our past mistakes. As such we decided to make it copy of NET Framework code and not touch it ever again, unless we really, really, really have to.

So overall, sadly, this bug will never be fixed, unless there is new evidence showing the impact on .NET Framework is really huge and that it affects many customers. I would recommend to close this issue for now.
I know it is not the answer you were looking for, but I hope that you at least appreciate transparency over having the bug sitting around for years, being actively ignored ...

If you (or someone) is truly motivated to have HttpClient fixed in a NuGet package, we can point you to the source code of the NuGet package and anyone can take it, modify and reship as they want (under different NuGet package name). Obviously, this is far away from ideal, but calling it out as last-resort option.

@karelz why not just ship the fix guarded by an `AppContextSwitchOverrides` compatibility flag, [as has been done for many other bugs](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/appcontextswitchoverrides-element)?

@IanKemp that is must have for almost all features these days (incl. sometimes even for security fixes). The risk is high even with that in play :( ... we could tell lots of horror stories (just preparing talk about some of them for NDC Oslo).
Also, the cost is high - coding, testing, shipping. Everything has to pay for its cost (and risk) - hence we consider high-impactful issues only.

Very disappointing.

Is there perhaps a way to customize how `HttpClient` parses headers?

Threw together the below monkey patch for this issue in about 15 minutes - which is still more time than Microsoft took to test how well `HttpClient` parses headers. It's ugly, it's dirty, but it works and it solves the issue and best of all: it doesn't require Microsoft to do anything more than the nothing they were already doing.

```csharp
using System.Net.Http;
using System.Reflection;

namespace MonkeyPatch
{
    public static class HttpClientDateHeaderParser
    {
        // taken from https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Net/HttpDateParser.cs#L11
        private static readonly string[] s_dateFormats = new string[] {
            // "r", // RFC 1123, required output format but too strict for input
            "ddd, d MMM yyyy H:m:s 'GMT'", // RFC 1123 (r, except it allows both 1 and 01 for date and time)
            "ddd, d MMM yyyy H:m:s 'UTC'", // RFC 1123, UTC
            "ddd, d MMM yyyy H:m:s", // RFC 1123, no zone - assume GMT
            "d MMM yyyy H:m:s 'GMT'", // RFC 1123, no day-of-week
            "d MMM yyyy H:m:s 'UTC'", // RFC 1123, UTC, no day-of-week
            "d MMM yyyy H:m:s", // RFC 1123, no day-of-week, no zone
            "ddd, d MMM yy H:m:s 'GMT'", // RFC 1123, short year
            "ddd, d MMM yy H:m:s 'UTC'", // RFC 1123, UTC, short year
            "ddd, d MMM yy H:m:s", // RFC 1123, short year, no zone
            "d MMM yy H:m:s 'GMT'", // RFC 1123, no day-of-week, short year
            "d MMM yy H:m:s 'UTC'", // RFC 1123, UTC, no day-of-week, short year
            "d MMM yy H:m:s", // RFC 1123, no day-of-week, short year, no zone

            "dddd, d'-'MMM'-'yy H:m:s 'GMT'", // RFC 850
            "dddd, d'-'MMM'-'yy H:m:s 'UTC'", // RFC 850, UTC
            "dddd, d'-'MMM'-'yy H:m:s zzz", // RFC 850, offset
            "dddd, d'-'MMM'-'yy H:m:s", // RFC 850 no zone
            "ddd MMM d H:m:s yyyy", // ANSI C's asctime() format

            "ddd, d MMM yyyy H:m:s zzz", // RFC 5322
            "ddd, d MMM yyyy H:m:s", // RFC 5322 no zone
            "d MMM yyyy H:m:s zzz", // RFC 5322 no day-of-week
            "d MMM yyyy H:m:s", // RFC 5322 no day-of-week, no zone
        };

        public static bool DoMicrosoftsJob()
        {
            var httpClientType = typeof(HttpClient);
            var systemNetHttpAssembly = httpClientType.Assembly;

            var httpRuleParserType = systemNetHttpAssembly.GetType("System.Net.Http.HttpRuleParser");
            if (httpRuleParserType == null) return false;

            var dateFormatsField = httpRuleParserType.GetField("dateFormats", BindingFlags.NonPublic | BindingFlags.Static);
            if (dateFormatsField == null) return false;

            dateFormatsField.SetValue(null, s_dateFormats);
            return true;
        }
    }
}
```

I understand your frustration and thank you for the workaround.
If this problem is present also in .NET Core (which was not clarified earlier BTW), we are open to fixing it there (and we even take contributions if you're interested). The compat bar is not so ridiculously high there.

Also, I would encourage you to try to see also the other side of the story:

> which is still more time than Microsoft took to test how well `HttpClient` parses headers.

I haven't been around Networking stack back then, but I can assure you that testing is taken VERY seriously in Microsoft and on .NET team. Expecting complex SW (or any SW) to be without bugs and oversights and imperfections is not realistic IMO.

> it doesn't require Microsoft to do anything more than the nothing they were already doing

Given that this is the first report of the problem in 10 years and given the risk of breaking some other apps in .NET Framework, doing nothing is **the right thing** to do for .NET customers. Every developer wants their bug to be fixed, but **noone** likes to be broken without warning / by accident by fixes they didn't ask for.
If you want to learn more about the risk (which may not be intuitive under `AppContext`, etc.), I encourage you to watch my talk I'll be giving at NDC Oslo in June: [War stories from .NET team](https://ndcoslo.com/talk/war-stories-from-net-team/) - it will tell quite a few horror stories demonstrating why even the simplest change can cause quite a few problems.

@karelz I can confirm this issue is present in Core 2.2.106 as well as Framework 4.7.x and 4.8.

Thanks for confirmation @IanKemp!
We should either create new issue for Core, or edit title and text of this one and reopen it as scoped to Core. Do you have preference?

Also, given that you have good understanding of the code, are you interested in submitting a PR? (not pushing, just asking)

@karelz new issue opened at #37293.