JavaScriptEncoder shouldn't escape '/' by default

There's no need for the `JavaScriptEncoder` type to escape the `/ (U+002F SOLIDUS)` character by default. It's not ECMAScript-sensitive (per ECMA-262) or JSON-sensitive (per RFC 8259). Additionally, given that the default encoder already forbids HTML tag characters (`<>`) from ever being added to the allow list, the `/` character isn't HTML-sensitive in a manner that would cause us concern.

Specifically, given [ECMA-262 §11.8.4](https://ecma-international.org/ecma-262/#sec-literals-string-literals) which does not list `/` as type _SingleEscapeCharacter_, and given [RFC 8259 §7](https://tools.ietf.org/html/rfc8259#section-7) which lists it as an optional JSON escape character, `JavaScriptEncoder` should have the following behaviors:

1. `/` is in the default allow list unless the caller has explicitly instantiated the `JavaScriptEncoder` instance with a custom bitmap where this character is not in the allow list.

2. If `/` is in the allow list, it does not need to be escaped.

3. Otherwise, the character `/` is escaped as the six-character string `\u002F`.

_Edited Jul. 25 by @GrabYourPitchforks to remove references to `JavaScriptEncodingBehavior` enum._

Unless I hear otherwise, @GrabYourPitchforks I assume you will perform the implementation including modifying System.Text.Json. cc @ericstj 

cc @ahsonkhan 

@steveharter Yes, this work is already in-progress at https://github.com/dotnet/corefx/pull/39494. Could use your eyes on it if you can spare some time. :)

TBH I'm somewhat questioning the value of bullet (4), since if the caller went out of their way to provide a custom bitmap and that bitmap didn't include `/`, they probably had a specific reason for not wanting it to appear in the output. So `\u002F` would be more appropriate than `\/` in this case.

@GrabYourPitchforks what info do you need to help make a decision here?  Are there any other cases where we use the six-character string when `JavaScriptEscapingBehavior.RelaxedJsonEscaping` is specified?  If there's precedent I imagine we can include it with that.  If not then we should probably have a good reason for the difference.

I am trying .NET Core 3.0 Preview 7 today. And I found the same issue for System.Text.Json.JsonSerializer.Serialize()

I can't find a way to make it matches Json.NET's output. We want to use the new Json APIs ASAP but it is still important there are legacy systems not owned by us and if they don't support deserializing the escaped "/", this can be a deal-breaker. 

```csharp
var test1 = System.Text.Json.JsonSerializer.Serialize(new Uri("https://dot.net"));
// "https:\u002f\u002fdot.net\u002f"

var test2 = JsonConvert.SerializeObject(new Uri("https://dot.net"));
// "https://dot.net"
```

@EdiWang did you try using the latest build out of preview8 with @GrabYourPitchforks's changes?  I tried 4.6.0-preview8.19372.8 and it worked for me.

```xml
<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <RestoreSources>$(RestoreSources);https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json</RestoreSources>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="System.Text.Json" Version="4.6.0-preview8.19372.8" />
  </ItemGroup>

</Project>
```

```c#
using System;

namespace slashTest
{
    class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(new Uri("https://dot.net")));
        }
    }
}
```

Outputs:
```
"https://dot.net"
```


> I am trying .NET Core 3.0 Preview 7 today.
> did you try using the latest build out of preview8



Thanks @ahsonkhan @ericstj for the information. Preview 8 works fine. 

@EdiWang 

> I am trying .NET Core 3.0 Preview 7 today. And I found the same issue for System.Text.Json.JsonSerializer.Serialize()

> I can't find a way to make it matches Json.NET's output. We want to use the new Json APIs ASAP but it is still important there are legacy systems not owned by us and if they don't support deserializing the escaped "/", this can be a deal-breaker.

With the latest Preview 8 dogfood build from [core-setup release 3](https://github.com/dotnet/core-setup#daily-builds) the `/` is no longer escaped by default so it will match Json.NET for that.

However, other characters are escaped differently so there are no guarantees on compat -- e.g. Json.NET will not escape `+` while .NET Core will escape as `\u002B` for safety.

Since there's no `JavaScriptEncodingBehavior` enum in .NET Core 3.0, there's no remaining work left to do for this item. I've modified the original issue description to reflect this. Closing.