WebUtility.UrlDecode Not decoding %b6

I am seeing an issue with %b6 being left as "%b6" instead of being converted to 0xb6.

I don't know if there is any way I can debug it, but if you take the string "%b6" and pass it through the WebUtility.UrlDecode, and you will see that doing an Encoding.UTF8.GetBytes, you will see 0xef, 0xbf, 0xbd, instead of the expected 0xb6.

Any help debugging this would be appreciated.


`%b6` isn't valid on it's own if using UTF-8 as the basis of the URI encoding, which everyone should do, unless explicitly matching obsolete behaviour of a particular system, in which case while `%b6` could be valid on its own, its meaning would depend on the specifics of that legacy system.

As its not valid one would expect it to be decoded as `U+FFFD` which in UTF bytes is `0xEF, 0xBF, 0xBD`.

There's no character or string for which `UTF8.GetBytes()` can return 0xB6 since that's not valid UTF-8 on its own.

Are you perhaps interested in U+00B6 (`¶`), which in URIs is `%C2%B6`?

I am indeed interested in U+00B6.  Sadly, this is a URLEncoded string created by a php system, that is an existing system that has been in use on a .net 4.0 site.  So it looks like I need to do some additional work to make this work correctly.

Looks like I might have to write my own decoding function.  There is an RC4 function behind the decode, and unicode doesn't work correctly and I need the %b6 to be decoded to 0xb6.

Thanks.

There might be some more convenient way of having WebUtility use legacy character sets, so it may be worth leaving this issue open for a bit to see if anyone knows of it. At least otherwise if the server is using ISO-8859-1 (I would guess so, since HTTP used to have that as a default) the transformation is relatively easy compared to other encodings.

Well I found a way to make it work.  I had to do the conversion myself.  By taking all characters from the string and converting them, if they started with a % character, I converted the 2 chars following to hex, left shifted the first by 4 bits, and added the second to it.  increment my counter by 2, and continue.  If the character does not contain a % I just moved the character as is to the byte array I was constructing.  This works for now, but makes me wonder, is this change in the URLDecode something new in 5.0, or was it something that came earlier?  Because I know URL decode, and the RC4 process worked correctly in .net 4.0.

Closing this issue since the use case isn't valid. URL encoding requires that any non-ascii characters be converted to UTF-8 before being percent encoded. From [section 3.2.2 of RFC 3986](https://tools.ietf.org/html/rfc3986#section-3.2.2):
```
   Non-ASCII characters must first be encoded according to UTF-8 [STD63], and then
   each octet of the corresponding UTF-8 sequence must be percent-
   encoded to be represented as URI characters.  URI producing
   applications must not use percent-encoding in host unless it is used
   to represent a UTF-8 character sequence.
```
Since %B6 is not a valid character on its own, the encoding is invalid and we should not decode it.