API addition: System.Net.Http.HttpMethod.Patch method/verb

System.Net.Http.HttpMethod.Patch method/verb (RFC5789) is a extension to HTTP 1.1 protocol and method definitions defined in (RFC2616 Section 9). 

Suggestion: add API (static method HttpMethod.Patch that returns new HttpMethod("PATCH")) which is current workaround for this issue.

Pros:
 
*   consistent API with other HTTP methods.

Cons: 

*   none, since this is new API, there should not be any breaking changes.

Code changes can be viewed in the commit referenced below (no PR issued yet).
Preliminary builds on MacOSX passed.

References:

*   https://tools.ietf.org/html/rfc5789
*   https://tools.ietf.org/html/rfc2616#section-9
*   https://github.com/moljac/corefx/commit/457e528a2e5641643a50a438a356d0c7308cd84e

Thank you for your suggestion.  This is a dupe of #17299.  Please review that issue and associated process for API additions.

@davidsh 

My bad. Long night. Sorry I did not search good enough.

I will comment on the other issue.

