Improper use of forward slash causes unexpected result

It is not immediately clear if your `BaseAddress` does not end in a forward slash **/** that any requests you make with the HttpClient will not succeed.

This is valid
```
using (var handler = new HttpClientHandler())
using (var client = new HttpClient(handler))
{
    client.BaseAddress = new Uri("http://something.com/api/");
    var response = await client.GetAsync("resource/7");
}
```

This is invalid
```
using (var handler = new HttpClientHandler())
using (var client = new HttpClient(handler))
{
    client.BaseAddress = new Uri("http://something.com/api");
    var response = await client.GetAsync("resource/7");
}
```

Can we throw an error or warning if an HttpClient is configured this way? _Many_ have fallen to this error... https://stackoverflow.com/a/23438417/1837080

The StackOverflow article mentions the reason why for the required format for the BaseAddress:

>Reference Resolution is described by RFC 3986 Uniform Resource Identifier (URI): Generic Syntax. And that is exactly how it supposed to work. To preserve base URI path you need to add slash at the end of the base URI and remove slash at the beginning of relative URI.

We would need to throw an exception when setting the HttpClient.BaseAddress property if the Uri doesn't end in a slash.  That technically might be considered a breaking change.  But it is something we can consider.

@davidsh The HttpClient doesn't work if the BaseAddress property is not set properly anyway, wouldn't throwing an exception be better than silently failing?

>@davidsh The HttpClient doesn't work if the BaseAddress property is not set properly anyway, wouldn't throwing an exception be better than silently failing?

Probably better. We will review this and determine if fixing this outweighs potentially breaking someone due to throwing an unexpected exception.

I took a look at this.  I'm not sure throwing an exception is right answer. But I think we can fix this to just make it work.

The lack of a trailing slash doesn't break things when just the hostname is used as the base address, i.e. the following examples all correctly request the "/api/request/7" resource.

```c#
using (var client = new HttpClient())
{
    client.BaseAddress = new Uri("http://something.com");
    var response = await client.GetAsync("api/resource/7");
}

using (var client = new HttpClient())
{
    client.BaseAddress = new Uri("http://something.com/");
    var response = await client.GetAsync("api/resource/7");
}

using (var client = new HttpClient())
{
    client.BaseAddress = new Uri("http://something.com");
    var response = await client.GetAsync("/api/resource/7");
}

using (var client = new HttpClient())
{
    client.BaseAddress = new Uri("http://something.com/");
    var response = await client.GetAsync("api/resource/7");
}
```

One of the reasons that this works is because the following Uri's are equivalent:

```c#
var client = new HttpClient();
client.BaseAddress = new Uri("http://something.com"); // no trailing slash
Console.WriteLine($"client.BaseAddress.AbsoluteUri = {client.BaseAddress.AbsoluteUri.ToString()}");
Console.WriteLine($"client.BaseAddress.AbsolutePath = {client.BaseAddress.AbsolutePath.ToString()}");

client.BaseAddress = new Uri("http://something.com/"); // trailing slash
Console.WriteLine($"client.BaseAddress.AbsoluteUri = {client.BaseAddress.AbsoluteUri.ToString()}");
Console.WriteLine($"client.BaseAddress.AbsolutePath = {client.BaseAddress.AbsolutePath.ToString()}");
```

Both of them write out

```
client.BaseAddress.AbsoluteUri = http://something.com/
client.BaseAddress.AbsolutePath = /
client.BaseAddress.AbsoluteUri = http://something.com/
client.BaseAddress.AbsolutePath = /
```

So, it seems like perhaps this normalization behavior can be expanded so that the scenario will work properly when trying to merge the absolute uri path of client.BaseAddress with a possible relative address for the GetAsync, PostAsync APIs.  We probably can detect the lack of the trailing slash on the BaseAddress properly and add it back when merging for the full Uri. This doesn't seem any different than the helpful logic of the System.IO.Path APIs when doing Path.Combine() operations.

@davidsh 

> I'm not sure throwing an exception is the right answer. But I think we can fix this to just make it work.

How sure are you that people are not depending on the current behavior?

For example, imagine I'm implementing a web crawler. I'm on `http://example.com/a/b` and encounter the link `<a href="c">c</a>`. Today, I can resolve that correctly to `http://example.com/a/c` by using `new HttpClient { BaseAddress = new Uri("http://example.com/a/b") }.GetAsync("c")`. With the proposed change, this code would stop working, because it would actually go to `http://example.com/a/b/c`.



>How sure are you that people are not depending on the current behavior?

They might be.  As your example shows, merging the relative Uri "c" against the BaseAddress path of "/a/b" ends up with the path as "/a/c".

This issue will be studied further to determine the best next step.

[RFC 3986 Section 5.2.3](https://tools.ietf.org/html/rfc3986#section-5.2.3) defines the relative URI merge operation consistent with current behavior:

> return a string consisting of the reference's path component appended to all but the last segment of the base URI's path (i.e., excluding any characters after the right-most "/" in the base URI path, or excluding the entire base URI path if it does not contain any "/" characters).

Regardless of the RFC, I think @svick is on point. I've written code making use of this behavior when talking to a REST API which gave relative URLs for linked resources. I can see arguments for either way being intuitive, but it's inappropriate to make a breaking change to this now.

Triage: As stated above, it would be a breaking change, going against RFC.
As next best step we should document the behavior.