HttpClientHandler not Correctly Setting Cookie on UAP

WCF changed to use HttpClientHandler on UAP recently. One test (see https://github.com/dotnet/wcf/issues/2140) started failing on UAP. The issue is that the `HttpClientHandler`  did not correctly set the associated `CookieContainer`. 

I did some investigation. To me, the bug seems to be in [`CookieTokenizer.FindNext`](https://github.com/dotnet/corefx/blob/e30fdc38e60f6fa2ed8e7e103d1f8c44655438cd/src/System.Net.Http/src/uap/System/Net/cookie.cs#L1264). See the code below,

```c#
                if (!Eof)
                {
                    switch (m_tokenStream[m_index])
                    {
                        case ';':
                            token = CookieToken.EndToken;
                            break;

                        case '=':
                            token = CookieToken.Equals;
                            break;

                        default:
                            m_cookieLength = m_index - m_cookieStartIndex;
                            token = CookieToken.EndCookie;
                            break;
                    }
                    ++m_index;
                }
                else
                {
                    m_cookieLength = m_index - m_cookieStartIndex;
                }
```
Consider the very last cookie in the cookie header, `m_cookieLength` would not be set for it. The above code probably should be,

```c#
                if (!Eof)
                {
                    switch (m_tokenStream[m_index])
                    {
                        case ';':
                            token = CookieToken.EndToken;
                            break;

                        case '=':
                            token = CookieToken.Equals;
                            break;

                        default:
                            m_cookieLength = m_index - m_cookieStartIndex;
                            token = CookieToken.EndCookie;
                            break;
                    }
                    ++m_index;
                }

                if (Eof)  // <--- Change here
                {
                    m_cookieLength = m_index - m_cookieStartIndex;
                }
```

Please submit a full repro including client, server and examples of the HTTP request/responses including cookies.  The code you point to is used across all .NET Core, not just UWP. So, if there is a bug in cookies, it would affect all code.

The issue happens with the last cookie in the cookie header. And it happens only when CookieParser.GetString method is used, that’s probably why you are not seeing it with other tests.

If you try the following,

`CookieParser parser = new CookieParser("cookie_time=8/2/2017 12:54:59 PM;");`

Then `parser.GetString()` would return an empty string due to the bug. CookieParser is an internal class, I’m not sure when it get used. Here’s the callstack I saw in the test,

```
System.Net.Http.dll!System.Net.Internal.CookieTokenizer.GetCookieString() Line 1128     C#           Symbols loaded.
System.Net.Http.dll!System.Net.Internal.CookieParser.GetString() Line 1575        C#           Symbols loaded.
System.Net.Http.dll!System.Net.CookieHelper.GetCookiesFromHeader(string setCookieHeader) Line 23  C#                Symbols loaded.
System.Net.Http.dll!System.Net.Http.HttpHandlerToFilter.ConvertResponse(Windows.Web.Http.HttpResponseMessage rtResponse) Line 455      C#           Symbols loaded.               
System.Net.Http.dll!System.Net.Http.HttpHandlerToFilter.SendAsync(System.Net.Http.HttpRequestMessage request, System.Threading.CancellationToken cancel) Line 114    C#           Symbols loaded.
```

This particular cookie string is "invalid" I think because the semicolon at the end is only supposed to appear as a separator between cookies in the cookie header.  Having a trailing semi-colon is technically against the RFC.  

Our implementation, perhaps, should be more resilient to this.  But I remember getting a bug report about something like this before.

See: https://tools.ietf.org/html/rfc6265#page-8

4.1.1.  Syntax

   Informally, the Set-Cookie response header contains the header name
   "Set-Cookie" followed by a ":" and a cookie.  Each cookie begins with
   a name-value-pair, followed by zero or more attribute-value pairs.
   Servers SHOULD NOT send Set-Cookie headers that fail to conform to
   the following grammar:












Barth                        Standards Track                    [Page 8]
 
RFC 6265             HTTP State Management Mechanism          April 2011


 set-cookie-header = "Set-Cookie:" SP set-cookie-string
 set-cookie-string = cookie-pair *( ";" SP cookie-av )
 cookie-pair       = cookie-name "=" cookie-value
 cookie-name       = token
 cookie-value      = *cookie-octet / ( DQUOTE *cookie-octet DQUOTE )
 cookie-octet      = %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E
                       ; US-ASCII characters excluding CTLs,
                       ; whitespace DQUOTE, comma, semicolon,
                       ; and backslash
 token             = <token, defined in [RFC2616], Section 2.2>

@davidsh, if I have 2 cookies, they can be placed in separate Set-Cookie headers or be concatenated with `";" SP` as the separator. The way I read the spec, the invalid cookie header was a list of 2 cookies where the second cookie was invalid. There's no expectation that anything can be done with the second zero length invalid cookie, but the first cookie before the `;` should still be parsed as it's valid.