HttpClient Coding problem

@tianmaoyu commented on [Mon Jul 31 2017](https://github.com/dotnet/core/issues/782)

# HttpClient Coding problem
Problems with Chinese Fonts

# General
```c#
var client = new HttpClient();
var multipartContent = new MultipartFormDataContent("-------boundary");
var fileStream2 = File.Open(@"H:\开源的项目\新建文本文档.txt", FileMode.Open);
var streamContent2 = new StreamContent(fileStream2);
multipartContent.Add(streamContent2, "files", "新建文本文档.txt");
var output = new MemoryStream();
await multipartContent.CopyToAsync(output);
output.Seek(0, SeekOrigin.Begin);
string result = new StreamReader(output).ReadToEnd();
return result;
```

result string:
```
filename="=?utf-8?B?5paw5bu65paH5pys5paH5qGjLnR4dA==?="
filename*=utf-8''%E6%96%B0%E5%BB%BA%E6%96%87%E6%9C%AC%E6%96%87%E6%A1%A3.txt
```
```
---------boundary
Content-Disposition: form-data; name=files; filename="=?utf-8?B?5paw5bu65paH5pys5paH5qGjLnR4dA==?="; filename*=utf-8''%E6%96%B0%E5%BB%BA%E6%96%87%E6%9C%AC%E6%96%87%E6%A1%A3.txt

������
---------boundary--
```

[EDIT] Changed code formatting for readability by @karelz

---

@tianmaoyu commented on [Mon Jul 31 2017](https://github.com/dotnet/core/issues/782#issuecomment-318999778)

```
---------boundary
Content-Disposition: form-data; name=files; filename="=?utf-8?B?5paw5bu65paH5pys5paH5qGjLnR4dA==?="; filename*=utf-8''%E6%96%B0%E5%BB%BA%E6%96%87%E6%9C%AC%E6%96%87%E6%A1%A3.txt

������
---------boundary--

---

@karelz commented on [Mon Jul 31 2017](https://github.com/dotnet/core/issues/782#issuecomment-319013205)

What is the key problem in your repro? Is it the Unicode file name? Is it the content of the file?
Can you please clarify what is expected vs. current output?

---

@tianmaoyu commented on [Mon Jul 31 2017](https://github.com/dotnet/core/issues/782#issuecomment-319125019)

I want to use httpclient to upload files. When the name of the file is Chinese, the garbled code appears. I want to be able to upload Chinese files correctly. For example: filename=“新建文本文档.txt“  instead of: filename="=?utf-8?B?5paw5bu65paH5pys5paH5qGjLnR4dA==?="

---

@tianmaoyu commented on [Mon Jul 31 2017](https://github.com/dotnet/core/issues/782#issuecomment-319131940)

I want to encode the Content.header with UTF-8 and calculate the length instead of using DefaultHttpEncoding (Encoding.GetEncoding (28591)).
The source code is: System.Net.Http.HttpRuleParser
``` c#
 internal static readonly Encoding DefaultHttpEncoding = Encoding.GetEncoding(28591);



We also need to see if this coding pattern above works or not on .NET Framework.  Not sure what the HTTP RFC's say about MultiPart content using Unicode filenames.

The rfc https://tools.ietf.org/html/rfc6266 states that when both filename and filename* is present, filename* should be given precedence and used to retrieve the information. You should be able to decode the encoding based on the the rules.

Also this program gives same output on .NET Framework and .NET Core,

```c#
    class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine(TestMethod().GetAwaiter().GetResult());
        }

        public static async Task<string> TestMethod()
        {
            var client = new HttpClient();
            var multipartContent = new MultipartFormDataContent("-------boundary");
            var fileStream2 = File.Open(@"E:\开源的项目新建文本文档.txt", FileMode.Open);
            var streamContent2 = new StreamContent(fileStream2);
            multipartContent.Add(streamContent2, "files", "开源的项目新建文本文档.txt");
            var output = new MemoryStream();
            await multipartContent.CopyToAsync(output);
            output.Seek(0, SeekOrigin.Begin);
            string result = new StreamReader(output).ReadToEnd();
            return result;
        }
    }
```

```
---------boundary
Content-Disposition: form-data; name=files; filename="=?utf-8?B?5byA5rqQ55qE6aG555uu5paw5bu65paH5pys5paH5qGjLnR4dA==?="; filename*=utf-8''%E5%BC%80%E6%BA%90%E7%9A%84%E9%A1%B9%E7%9B%AE%E6%96%B0%E5%BB%BA%E6%96%87%E6%9C%AC%E6%96%87%E6%A1%A3.txt

hello world.
---------boundary--
```

on .net core

```
---------boundary
Content-Disposition: form-data; name=files; filename="=?utf-8?B?5byA5rqQ55qE6aG555uu5paw5bu65paH5pys5paH5qGjLnR4dA==?="; filename*=utf-8''%E5%BC%80%E6%BA%90%E7%9A%84%E9%A1%B9%E7%9B%AE%E6%96%B0%E5%BB%BA%E6%96%87%E6%9C%AC%E6%96%87%E6%A1%A3.txt

hello world.
---------boundary--
```

This is by-design.


RFC 2388 says:
"""
   Field names originally in non-ASCII character sets may be encoded
   within the value of the "name" parameter using the standard method
   described in RFC 2047.
"""

RFC 2047, in turn, says:
"""
   Generally, an "encoded-word" is a sequence of printable ASCII
   characters that begins with "=?", ends with "?=", and has two "?"s in
   between.  It specifies a character set and an encoding method, and
   also includes the original text encoded as graphic ASCII characters,
   according to the rules for that encoding method.
"""

But RFC 6266 prohibits using "encoded-word" in "Content-Disposition":
"""
      An 'encoded-word' MUST NOT be used in parameter of a MIME Content-
      Type or Content-Disposition field, or in any structured field body
      except within a 'comment' or 'phrase'.
"""

RFC 2388 also says:
"""
   The original local file name may be supplied as well, either as a
   "filename" parameter either of the "content-disposition: form-data"
   header or, in the case of multiple files, in a "content-disposition:
   file" header of the subpart. The sending application MAY supply a
   file name; if the file name of the sender's operating system is not
   in US-ASCII, the file name might be approximated, or encoded using
   the method of RFC 2231.
"""


From RFC 2231 we learn what method should be used in order to encode non-ASCII filenames:
"""
   Asterisks ("*") are reused to provide the indicator that language and
   character set information is present and encoding is being used. A
   single quote ("'") is used to delimit the character set and language
   information at the beginning of the parameter value. Percent signs
   ("%") are used as the encoding flag, which agrees with RFC 2047.
"""

So it looks like MS has ignored RFC 5987 and implemented the wrong filename encoding.
Instead of base64 encoded string in fielame field, it should have been something like this:

=utf-8''%D0%9F%D0%9E%D0%9F%D0%95%D0%A0%D0%95%D0%94%D0%9D%D0%86%D0%99_%D0%94%D0%9E%D0%93%D0%9E%D0%92%D0%86%D0%A0_%D0%BA%D0%B2%D0%B0%D1%80%D0%B8%D1%80_%D0%9F%D1%80%D0%BE%D1%84%D0%9F%D0%91%D1%83%D0%B9%D0%BA%D0%B0_27%20%28%D0%B7%20%D0%BF%D1%80%D0%B0%D0%B2%D0%BA%D0%B0%D0%BC%D0%B8%2006-09-17%29.doc


See Rob Starling reply on this post: 
https://stackoverflow.com/questions/20591599/why-arent-post-names-with-unicode-sent-correctly-when-using-multipart-form-data/20592910?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

@caesar1995 you just looked at similar parts of the RFCs. Can you please check if there is anything here for us to do?

1. "encoded-word" should never be encoded in filename.
All browsers send UTF8 counting on that all web servers support UTF8.
Only MS has that brain dead approach

2. Ther's no issue with filename*. It is "filename" field where you send garbage.


I admit I have hard time to follow all RFC blurbs - let's be practical: Is there a repro which would show that things are working incorrectly?

I wouldn't say things work incorrectly in your code as far as I can tell (beyond sending a `filename*` that really shouldn't be there according to the RFC). Just wanted to do a follow-up after I closed a related ticket on my end (as an HTTP server developer).

The issue originally reported to me was about how the filename value is encoded differently depending on implementations, as documented in the RFC at https://tools.ietf.org/html/rfc7578#section-5.1.3 Your code uses the encoded-word method, which I don't support (but users can decode it themselves so no biggie).

It's a historical encoding that has been removed from the specification as can be seen in the first paragraph of https://tools.ietf.org/html/rfc7578#appendix-A But that doesn't make it wrong or incorrect per se.

Cheers.

Please reconsider adding support for UTF-8 encoded headers. I'd like to remind the original post:

>I want to encode the header with UTF-8 ... instead of using DefaultHttpEncoding
The source code is: System.Net.Http.HttpRuleParser
`internal static readonly Encoding DefaultHttpEncoding = Encoding.GetEncoding(28591);`

I also want to second all the comments posted by @imgrey.

We should not act as lawyers. In summary, you pointed out that HttpClient complies with RFCs and that "encoded-word" format is used by-design.
All that is true but why did you close the issue? In reality, browsers can upload files and HttpClient cannot.

Example: Some servers don't respect the filename*(star) override, yes they are non-complient, BUT they can decode UTF-8 headers.
Specifically, I am unable to upload files with cyrillic names to a Java-based server using .net core and HttpClient. Their own Angular client however works fine.

People complain about this and use terrifying workarounds:
- Here reflection is used to hack the internal DefaultHttpEncoding variable:
https://stackoverflow.com/questions/47004296/httpclient-wrong-encoding-in-content-disposition
- Here the Content-Disposition is string-formatted manually with weird conversions instead of using HttpClient's high-level methods:
https://stackoverflow.com/questions/21928982/how-to-disable-base64-encoded-filenames-in-httpclient-multipartformdatacontent
For my case I am going to use the second workaround.

Please allow the developers to choose the encoding for HTTP headers.

@idilov please note we do not monitor or track closed issues.
You wonder why it has been closed - see above it says "by design". It is fine to disagree and provide counter points.

Your reply is very end-to-end (which is great), but not really easy to understand. It also asks for API changes I believe, which is entirely different ask than the original post.
I would recommend to file a new issue and describe the problem from scratch, with samples, list of couple of servers that support what you say, etc. ... Don't assume any previous knowledge by people who will read it. That will be best way to get some traction on this. Thanks!