SocketsHttpHandler doesn't support response headers with a 100 status code

According to [RFC7231 section 6.2](https://tools.ietf.org/html/rfc7231#section-6.2)

> 1xx responses are terminated by the first empty line after
> the status-line (the empty line signaling the end of the header
> section).

This means that a server can send headers before the empty line that terminates a 100 continue status response. The WCF team has a customer who is trying to communicate with a SOAP service which returns headers along with the 100 status response. This is tracked in issue dotnet/wcf#3008.