[ManagedHandler] Cache and reuse auth credentials

Per RFC 7235, section 2.2:

"If a prior request has been authorized, the user agent MAY reuse the same credentials for all other requests within that protection space..."

The rules are slightly different for basic vs digest, and proxy vs regular auth, but the basic issue is the same.

The managed handler isn't doing this today, which will cause additional round trips to reauthenticate subsequent requests.  

This may be more important for proxy auth, since currently we are forcing every proxied request to reauthenticate.

@geoffkizer, is this still 2.1 or can this be pushed to Future?

Let's leave it as 2.1 at least for now; I'd like to investigate further before we push it out.  


(That said I'm waiting until I get some other planned auth work finished...)

Ok. Thanks.

Pushing to Future based on discussions with @geoffkizer.
@stephentoub is there something in this area we need to do for 2.1 for WCF (apparently you were discussing related stuff with WCF team).

> is there something in this area we need to do for 2.1 for WCF (apparently you were discussing related stuff with WCF team).

I'm not aware of anything that's required, only nice-to-haves.  We already partially do this for basic (i.e. we store successful credentials if Preauthenticate is true and then automatically use those on subsequent requests), but a) we could be caching more stuff to avoid some allocations, and b) we're not doing it for other auth schemes, namely digest.