Cookie.ToString() returns a different result while the version of cookie is 1

Sorry to bother you guys. I'm trying to get data from a website with HttpClient. 
I use a single HttpClient to get cookies like below,
![111](https://user-images.githubusercontent.com/20787265/54453145-ab394d00-4791-11e9-88de-5f815e559284.png)
And then send them back with the second request so that the right response will be returned.
However, the response always indicates that the cookies of request are invalid. Finally I find that the reason is in the [Cookie.ToString()](https://github.com/dotnet/corefx/blob/master/src/System.Net.Primitives/src/System/Net/Cookie.cs).
Noticing the SearchId's version is 1, the cookies of my second request are like below(Shown in Fiddler),
![333](https://user-images.githubusercontent.com/20787265/54453877-336c2200-4793-11e9-9337-16a2db60bc4c.png)
And the normal ones should be like this(without "$Version","$Path"),
![222](https://user-images.githubusercontent.com/20787265/54453916-47b01f00-4793-11e9-905f-ecb18650b971.png)
So is it the website's fault for lack of standardization, or anything else wrong? And to solve the problem, should i use another HttpClient to get cookies firstly, then deal with the CookieContainer manually,  select the Cookies in a "name=value" format, and finally add them into the  previous HttpClient's CookieContainer? In fact it works, but would anyone provide any better solutions?

>Finally I find that the reason is in the Cookie.ToString().

Are you using Cookie.ToString() to create a serialized string to send back on the wire?  ToString() is not intended for that.  It's use is for display or diagnostic purposes.

If you need to save cookies and have them sent back with subsequent requests (to the same server), then you shouldn't need to do anything at all.  Just use HttpClient which uses the CookieContainer (inside HttpClientHandler.CookieContainer).

Some servers are still using the legacy "Version=1" cookies which is based on [RFC 2109](https://www.ietf.org/rfc/rfc2109.txt).  But .NET Core should be able to store these cookies in the CookieContainer and then have them sent back to the same server (assuming the Path and other cookie constraints are met).

@davidsh Glad to see your reply, but i need to make it clearer. 
In my codes i never call Cookie.ToString() explicitly. Let me show a simplified version of my codes in the following,
```
public async Task<HttpResponseMessage> Run()
		{
			string url1 = "https://a.com/1", url2 = "https://a.com/2";//Just for display
			SocketsHttpHandler handler = new SocketsHttpHandler()
			{
				AutomaticDecompression = DecompressionMethods.GZip | DecompressionMethods.Deflate,
				UseCookies = true,
				UseProxy = true,
				Proxy = new WebProxy("127.0.0.1", 8888)//For Fiddler catching
			};
                        HttpClient httpClient = new HttpClient(handler);//Just skip the headers' process of initilization
			await httpClient.GetAsync(url1, HttpCompletionOption.ResponseHeadersRead).ConfigureAwait(false);//Get Cookies
			return await httpClient.PostAsync(url2, new FormUrlEncodedContent(new Dictionary<string, string>())).ConfigureAwait(false);//Post back
		}
```
As I see in the source codes, both the functions will call the handler's SendAsyncCore, and then call the [CookieContainer.GetCookieHeader(Uri uri, out string optCookie2)](https://github.com/dotnet/corefx/blob/master/src/System.Net.Primitives/src/System/Net/CookieContainer.cs) to get the cookies. **The point is that** in that internal function, it calls Cookie.ToString() finally to get the cookies' string which will be sent to the server . I cannot determine the sent cookies' content and the website's server considers it invalid(because of extra "$Version"/"$Path"). It makes me very confused so I wanna figure out whose problem. .Net Core's solution is imperfect, or the website's server breaks rules? If it's the website's problem, do I have to write codes like below?
```
public async Task<HttpResponseMessage> Run2()
		{
			string url1 = "https://a.com/1", url2 = "https://a.com/2";//Just for display
			CookieContainer container = new CookieContainer();
			SocketsHttpHandler handler = new SocketsHttpHandler()
			{
				AutomaticDecompression = DecompressionMethods.GZip | DecompressionMethods.Deflate,
				UseCookies = true,
				CookieContainer = container,
				UseProxy = true,
				Proxy = new WebProxy("127.0.0.1", 8888)//For Fiddler catching
			};
			HttpClient httpClient = new HttpClient(handler);//Just skip the headers' process of initilization
			await httpClient.GetAsync(url1, HttpCompletionOption.ResponseHeadersRead).ConfigureAwait(false);//Get Cookies

			SocketsHttpHandler handler2 = new SocketsHttpHandler()
			{
				AutomaticDecompression = DecompressionMethods.GZip | DecompressionMethods.Deflate,
				UseCookies = false,
				UseProxy = true,
				Proxy = new WebProxy("127.0.0.1", 8888)//For Fiddler catching
			};
			HttpClient httpClient2 = new HttpClient(handler2);
			HttpRequestMessage requestMessage = new HttpRequestMessage(HttpMethod.Post, url2)
			{
				Content = new FormUrlEncodedContent(new Dictionary<string, string>())
			};
			var cookies = container.GetCookies(new Uri(url2)).Cast<Cookie>().Select(p => p.Name + '=' + p.Value);
			requestMessage.Headers.Add("Cookie", cookies);
			return await httpClient2.SendAsync(requestMessage).ConfigureAwait(false);//Post back
		}
```

"Version=1" cookies are defined by [RFC 2109](https://www.ietf.org/rfc/rfc2109.txt)

According to RFC 2109, Section 4.3.4, the "$" (dollar sign) character does appear before the "Path" and "Version" when the cookie is sent back to the server.

```
4.3.4  Sending Cookies to the Origin Server
   When it sends a request to an origin server, the user agent sends a
   Cookie request header to the origin server if it has cookies that are
   applicable to the request, based on
   * the request-host;
   * the request-URI;
   * the cookie's age.

   The syntax for the header is:
   cookie          =       "Cookie:" cookie-version
                           1*((";" | ",") cookie-value)
   cookie-value    =       NAME "=" VALUE [";" path] [";" domain]
   cookie-version  =       "$Version" "=" value
   NAME            =       attr
   VALUE           =       value
   path            =       "$Path" "=" value
   domain          =       "$Domain" "=" value
```

The current version of .NET Core implements RFC 2109 and thus is correct in the behavior of how these cookies are sent back to the server in your repro example.

Many newer browsers and networking SDKs actually use the newer [RFC 6265](https://www.ietf.org/rfc/rfc6265.txt) which basically ignores the "Version" syntax of the received cookie.  So, when the cookie gets sent back, it won't have the "$" characters prepended to the 'Version' and 'Path' attributes.

We currently have an open issue #29651 about .NET Core implementing RFC 6265.

The problem is really that the server is sending "Version=1" cookies but then doesn't handle getting them sent back from the client to the server.

Until we implement #29651, you will need to manually work-around the problem by rebuilding the cookies manually as your example above shows.

@davidsh Got it. Thanks a lot for you help!  You can close this issue now and i'll keep focusing on #29651 .
By the way, would you please tell me how long the implementation takes(or which version of .Net Core can we see the promotion)? The issue you mentioned was opened on the May last year and it seems still on preparation? 

We don't have a timeline yet for this feature.  But you can track #29651 for status.