TLS 1.0 in Unix send additional 32 bytes of application data

In Unix, TLS 1.0 via SSLStream send addition 32 bytes of application data.
This may cause old communication server only pick the first application data.

***In Unix - TLS 1.0 - (send 2 application data - Additional 32 bytes of data)
![image](https://cloud.githubusercontent.com/assets/698547/12105337/a5388680-b308-11e5-81c0-310ccb78178a.png)


***In Windows - TLS 1.0 - (send 1 application data)
![image](https://cloud.githubusercontent.com/assets/698547/12105340/b42823d0-b308-11e5-88dd-22b7a314a410.png)


***In Unix - TLS 1.2 (send 1 application data)
![image](https://cloud.githubusercontent.com/assets/698547/12105357/e21128c8-b308-11e5-8e61-7c025082ef1d.png)


@corivera @saurabh500 

@bartonjs @vijaykota 

This is the fragmentation done by OpenSsl library and cannot be controlled. Similar traffic can be seen even using "openssl s_client -tls1". Though strange, this is not violating section 6.2.1 of [RFC 2246] (https://tools.ietf.org/html/rfc2246)

> This may cause old communication server only pick the first application data.

This should not happen since the receiving side will not get any extra/duplicate data - all of the 384 bytes will be needed to get the clear-text data for the receiver via SslStream.Read call (or equivalent API if not using .NET). The application or the TDS encapsulation layer should not be trying to interpret the 1st 5 bytes.

@vijaykota, I tried to use another native code (SQLCMD in msodbc13) which use libssl.so.1.0.0.
The SSL handshake was sent the same as in Corefx.
But the application data doesn't have these additional 32 bytes. 

Without these additional 32 bytes data, SQL Server 2008 can read and decrypt this data.

Can we force SSL Stream to send without this additional 32 bytes ?
Why is it different with libssl.so.1.0.0 ?



Different libraries implement the protocol differently. The server is supposed to succeed despite the additional 32 bytes unless it is making assumptions about the data that is coming in the SSL stream. Have you tried using a Unix CoreFx client with a Windows server similar to the example in #5178 ?

Can you also share the output of "ldd msodbc13"? I used the openssl tool which surely uses libssl and that sends the additional 32 bytes.

for your example, #5178, if the server is Corefx, this will work and even if I decrypt this using Windows Message analyzer, this doesn't have any problems.

our problems is because SQL Server 2008, was built using windows API to read that decrypted message, not sure what version that it used.

what we know are 
- if we send this encrypted message without these additional 32 bytes (single application data), the server can read it. (in Unix as well - using libssl.so.1.0.0 or libssl.so 9.0.8)

- But if it sent with this additional 32 bytes, then the server cannot decrypt this message.


Here is my ldd msodbc13

ldd libmsodbcsql-13.0.so.0.0
        linux-vdso.so.1 =>  (0x00007ffea19bc000)
        libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007fef54f69000)
        libodbcinst.so.2 => /usr/local/lib/libodbcinst.so.2 (0x00007fef54d51000)
        libuuid.so.1 => /lib/x86_64-linux-gnu/libuuid.so.1 (0x00007fef54b4b000)
        libgss.so.3 => /usr/lib/libgss.so.3 (0x00007fef5493f000)
        libkrb5.so.3 => /usr/lib/x86_64-linux-gnu/libkrb5.so.3 (0x00007fef54670000)
        libcrypto.so.1.0.0 => /lib/x86_64-linux-gnu/libcrypto.so.1.0.0 (0x00007fef5428b000)
        libssl.so.1.0.0 => /lib/x86_64-linux-gnu/libssl.so.1.0.0 (0x00007fef5402b000)
        libstdc++.so.6 => /usr/lib/x86_64-linux-gnu/libstdc++.so.6 (0x00007fef53d1c000)
        libm.so.6 => /lib/x86_64-linux-gnu/libm.so.6 (0x00007fef53a13000)
        libgcc_s.so.1 => /lib/x86_64-linux-gnu/libgcc_s.so.1 (0x00007fef537fd000)
        libpthread.so.0 => /lib/x86_64-linux-gnu/libpthread.so.0 (0x00007fef535df000)
        libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007fef53214000)
        /lib64/ld-linux-x86-64.so.2 (0x00007fef5556f000)
        libshishi.so.0 => /usr/lib/libshishi.so.0 (0x00007fef52fb8000)
        libk5crypto.so.3 => /usr/lib/x86_64-linux-gnu/libk5crypto.so.3 (0x00007fef52d87000)
        libcom_err.so.2 => /lib/x86_64-linux-gnu/libcom_err.so.2 (0x00007fef52b82000)
        libkrb5support.so.0 => /usr/lib/x86_64-linux-gnu/libkrb5support.so.0 (0x00007fef52977000)
        libkeyutils.so.1 => /lib/x86_64-linux-gnu/libkeyutils.so.1 (0x00007fef52773000)
        libresolv.so.2 => /lib/x86_64-linux-gnu/libresolv.so.2 (0x00007fef52556000)
        libtasn1.so.6 => /usr/lib/x86_64-linux-gnu/libtasn1.so.6 (0x00007fef52342000)
        libgnutls-deb0.so.28 => /usr/lib/x86_64-linux-gnu/libgnutls-deb0.so.28 (0x00007fef52026000)
        libgcrypt.so.20 => /lib/x86_64-linux-gnu/libgcrypt.so.20 (0x00007fef51d44000)
        libgpg-error.so.0 => /lib/x86_64-linux-gnu/libgpg-error.so.0 (0x00007fef51b32000)
        libidn.so.11 => /usr/lib/x86_64-linux-gnu/libidn.so.11 (0x00007fef518fe000)
        libz.so.1 => /lib/x86_64-linux-gnu/libz.so.1 (0x00007fef516e3000)
        libp11-kit.so.0 => /usr/lib/x86_64-linux-gnu/libp11-kit.so.0 (0x00007fef5149c000)
        libnettle.so.4 => /usr/lib/x86_64-linux-gnu/libnettle.so.4 (0x00007fef5126b000)
        libhogweed.so.2 => /usr/lib/x86_64-linux-gnu/libhogweed.so.2 (0x00007fef5103d000)
        libgmp.so.10 => /usr/lib/x86_64-linux-gnu/libgmp.so.10 (0x00007fef50dbc000)
        libffi.so.6 => /usr/lib/x86_64-linux-gnu/libffi.so.6 (0x00007fef50bb4000)


> for your example, #5178, if the server is Corefx, this will work and even if I decrypt this using Windows Message analyzer, this doesn't have any problems.

Sorry looks like some misunderstanding. The results I am interested in are <b>Unix CoreFx client</b> and <b>Windows server using SslStream</b> (NOT CoreFx server) What I am trying to get at is whether this is some behavior specific to SQL Server 2008.

So is the foll. understanding correct?
1. With CoreFx Windows server, the extra bytes are not an issue
2. Only with SQL Server 2008, the extra bytes are throwing it off and SQL connection cannot be established.

Even if answer to question 2 is yes, we probably need some sort of workaround. We will investigate based on the replies to above. Thanks!

1. Yes. If the coreFX is Windows Server then that extra bytes are fine. 
Message Analyzer can also decrypt this as well. 
https://technet.microsoft.com/en-us/library/jj649776.aspx

2. Yes, Only SQL Server 2008 and below don't understand these extra bytes. But SQL Server 2010 and higher can understand this which Installed on the same server (Windows Server 2008).

So I think SQL Server 2008 are using the old version of SSL Windows Library to read TLS Message which doesn't understand those extra bytes.

Thanks for the confirmation, @kkurni and also for the information on libmsodbcsql.

@shrutigarg , PTAL

The additional 32 bytes are sent depending on the cipher negotiated between client and server. So libmsodbcsql is using a diff. cipher from the default. For eg. if client and server negotiate NULL encryption like below, the addl. 32 bytes are not sent
````
openssl s_server -tls1 -cipher NULL -debug
openssl s_client -cipher NULL
````

This behavior can be simulated by passing EncryptionPolicy.None to the [SslStream constructor] (https://dotnet.github.io/api/System.Net.Security.SslStream.html) @kkurni , can you share your observations after making this change?

@joshfree, please see if anybody else can help investigating and fixing this issue.

@vijaykota I just tried to change this constructor with 
                _sslStream = new SslStream(_sslOverTdsStream, true, new RemoteCertificateValidationCallback(ValidateServerCertificate), null, EncryptionPolicy.NoEncryption);


https://github.com/dotnet/corefx/blob/5ddb1d4db82761091ca312a573413a2ca1bb2053/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs#L150

But I get this error instead (in windows as well)

    ---- System.ArgumentOutOfRangeException : Specified argument was out of the range of valid values.
      Parameter name: size


  ----- Inner Stack Trace -----
            at System.Net.Security.SslState.InternalEndProcessAuthentication(LazyAsyncResult lazyResult)
            at System.Net.Security.SslState.EndProcessAuthentication(IAsyncResult result)
            at System.Threading.Tasks.TaskFactory`1.FromAsyncCoreLogic(IAsyncResult iar, Func`2 endFunction, Action`1 endAction, Task`1 promise, Boolean requiresSynchronization)
         --- End of stack trace from previous location where exception was thrown ---
            at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
            at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
            at System.Runtime.CompilerServices.TaskAwaiter.GetResult()



I haven't tried this out but adding some info. Looking at #5557, it seems like NoEncryption is working on CI builds of Windows and Ubuntu. @kkurni , you might want to look at the test case code for any differences in your usage.

@vijaykota 
just wondering why EncryptionPolicy.NoEncryption has additional extra 32 bytes in Unix ?

Based on MSDN EncryptionPolicy.NoEncryption means "Allow no encryption and request that a NULL cipher be used if the other endpoint can handle a NULL cipher"

The problem that we have, we cannot control on the server side. so 
if the server doesn't allow this, it will give us an error.



With NoEncryption, it should <b>NOT</b> send the additional bytes which was why I was suggesting it as a possible workaround. It is supposed to behave same as "openssl s_client -cipher NULL". Are you saying that despite that, you are seeing Unix client sending additional bytes?

I understand your point about not having control over the server. But there is no way to influence via SslStream, the cipher used by libssl except for the blanket "null cipher"

Don't want to derail you guys, but I just confirmed that this was fixed in SQL Server 2008 by https://support.microsoft.com/en-us/kb/2653857. Apparently, the extra 32 bits are related to the BEAST vulnerability as detailed here http://blogs.msdn.com/b/kaushal/archive/2012/01/21/fixing-the-beast.aspx. I would speculate that a workaround for this would open the vulnerability.

Thanks @ericl85 for this information.
can you connect to your Sql Server 2008 update with this CoreFX ?

I will try to apply the patch tomorrow.

Yes. I had a server on 10.50.1600 (SQL Server 2008 R2) and I was receiving the error in #5058 on OSX and Ubuntu, but not in Windows. I upgraded the server to 10.50.6000 (SQL Server 2008 R2 SP3) and I can connect in OSX now (haven't tried Ubuntu, but I'm assuming it will work fine).

If you did want to do a workaround, I think you can disable the extra 32 bytes with the OpenSSL option SSL_OP_DONT_INSERT_EMPTY_FRAGMENTS. https://www.openssl.org/docs/manmaster/ssl/SSL_CTX_set_options.html

Thanks @eric85. I also verified that this patch is work on SQL Server 2008 10.50.5500.

I will open another issue to make sure that TLS API, doesn't have this security vulnerability.

Thanks

I will close this issue as it is expected behaviour for client to sent a split bytes of data to mitigate this Beast Vulnerability.

I also raise another issue https://github.com/dotnet/corefx/issues/5710 to make sure whether TLS 1.0 in Windows mitigate this security vulnerability. (Because I didn't see the split datas in TLS 1.0 in windows)

> If you did want to do a workaround, I think you can disable the extra 32 bytes with the OpenSSL option SSL_OP_DONT_INSERT_EMPTY_FRAGMENTS. 

@ericl85 , thanks for solving this issue. I was also not aware of this option so it is good to know.