Status line handling differs between HttpClientHandler implementations

Some status lines that cause client requests to fail on .NET Core on Windows are not failing on .NET Framework, and vice versa.  Other status lines are failing on .NET Core on Windows and not failing on .NET Core on Linux.  See HttpProtocolTests tests for details.

@davidsh, there are some differences between how all of the handlers are handling status lines and what's considered valid and not.  I've noted the ones found here:
https://github.com/dotnet/corefx/blob/08802ff9c877f7f75a82d6704d84d321e99eb5c8/src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs#L30
https://github.com/dotnet/corefx/blob/08802ff9c877f7f75a82d6704d84d321e99eb5c8/src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs#L67
I held off on trying to bring CurlHandler and ManagedHandler into compliance with the "right" behavior, since there isn't agreement among even the Windows handlers on what the right behavior is, nor how much we care about such differences and whether it's worth the expense of trying to sanitize things.

Quick analysis of the validity of the different reason phrases.

The HTTP Status-Line is defined in RFC 2616 section 6.1 and in RFC 7230 section 3.1.2 in identical terms.  The status line is supposed to be:
HTTP-Version SP Status-Code SP Reason-Phrase CRLF
where SP is only a space (no tabs!) and
Reason-Phrase in RFC2616 is *TEXT except CR or LF but including LWS which in turn means 0x20->0xFF + \t - DEL (AFAICT -- the folding rules are weird here)
Reason-Phrase in RFC7230 is *(HTAB|SP|VCHAR|obs-text)
The definitions are phrased differently but encompass the same sets of chars.

Then the question is how should we handle reason-phrases with extra text?  Theoretically, 200     OK actually has a reason-phrase of "    OK" -- there's one SP separator and the rest of the spaces are part of the reason-phrase.  But that's a surprise, and it looks like .NET Core strips those chars.

        //[InlineData("HTTP/1.1 200      ", 200, "")]
        RFC: reason is 5 spaces

        //[InlineData("HTTP/1.1 200      Something", 200, "Something")]
        RFC: reason should start with 5 spaces

        //[InlineData("HTTP/1.1\t200 OK", 200, "OK")]
        RFC: invalid header because of the TAB

        //[InlineData("HTTP/1.1 200\tOK", 200, "OK")]
        RFCL: invalid header because of the TAB

        //[InlineData("HTTP/1.1 200", 200, "")]
        RFC: invalid header because the space after the 200 is required?

        //[InlineData("HTTP/1.1 200\t", 200, "")]
        RFC: invalid header because of the tab

        //[InlineData("HTTP/1.1 200 O\tK", 200, "O\tK")]
        RFC: reason is O\tK

        //[InlineData("HTTP/1.1 200 O    \t\t  \t\t\t\t  \t K", 200, "O    \t\t  \t\t\t\t  \t K")]
        RFC: the long reason phrase is valid

        //[InlineData("HTTP/1.1 999 this\ttoo\t", 999, "this\ttoo\t")]
        RFC: the long reason phrase is valid




Let's re-enable the tests on .NET Core (disabled on .NET Framework) -- it will give us also code coverage / compat with ManagedHandler.

I found that there are some test data under comment: `// TODO #24713: The following pass on Windows on .NET Core but fail on .NET Framework.` will actually fail with ManagedHandler. (Probably because of recent commits?)

For example, these test data will fail for `GetAsync_ExpectedStatusCodeAndReason_Success()` on ManagedHandler:
`//[InlineData("HTTP/1.1 200      ", 200, "")]`: Assert.Equal() Failure, Expected: "", Actual: "      "
`//[InlineData("HTTP/1.1 200      Something", 200, "Something")]`: Assert.Equal() Failure, Expected: "Something", Actual: "     Something"

These three will fail with `System.Net.Http.HttpRequestException : The server returned an invalid or unrecognized response.` 
`//[InlineData("HTTP/1.1\t200 OK", 200, "OK")]`
`//[InlineData("HTTP/1.1 200\tOK", 200, "OK")]`
`//[InlineData("HTTP/1.1 200\t", 200, "")]`

All of the above test data are not following RFC (see details in Peter's comment); however, there are cases where we should handle invalid status line more robustly. (example here: #26455, `[InlineData("HTTP/1.1 200", 200, "")]`).

Here's my take:
1. Tests which pass on .NET Core, but fail on ManagedHandler (the first 2) -- should be re-enabled overall and disabled only for ManagedHandler (against a bug - please file a new one if it does not exist).
2. Tests which fail on .NET Framework, .NET Core and ManagedHandler should be either deleted or turned into negative test cases (more as a documentation) - i.e. testing we throw the right exception. I don't have strong preference which solution you pick.

Sorry I didn't make this very clearly, all of the above 5 test data will fail on .NET Framework, .NET Core and ManagedHandler now. (including the first two)

I agree with the change that: we should remove the test data which now fail on .NET Framework, .NET Core and ManagedHandler.

I'll submit a PR for it.

Thank you!
Just to clarify: I assume you plan to keep `[InlineData("HTTP/1.1 200 ", 200, "")]` test case as part of #26455, right? The test will pass on latest .NET Framework and we plan to fix .NET Core as well.

Yes, please see my PR here: #26525

@caesar1995 what is the remaining work left here? Do we still have disabled test cases against this bug? Are they things we should fix in .NET Core, or are those by-design differences?

> Do we still have disabled test cases against this bug?

Yes.

> Are they things we should fix in .NET Core, or are those by-design differences?

I can continue investigation, and open bugs accordingly to track important behavior difference (unlikely). The remaining work for this issue is separating test data against each platform.