Socket.Poll timeout occurs unexpectedly

I am trying to detect disconnection issues by using `Socket.Poll`.

[Microsoft Docs](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.poll?view=netcore-2.0) say that `Socket.Poll`:
 - will block execution until the specified time period, measured in microseconds, elapses
 - cannot detect certain kinds of connection problems, such as a broken network cable,
or that the remote host was shut down ungracefully (you must attempt to send or receive data to detect these kinds of errors)
 - when used with `SelectMode.SelectRead` returns:
   - `true` if Listen(Int32) has been called and a connection is pending
   - `true` if data is available for reading
   - `true` if the connection has been closed, reset, or terminated
   - `false` otherwise

Is it possible to detect disconnections with both `SelectMode.SelectWrite` and sending a 0 byte array or something similar that will be ignored by a standard Syslog server that is up and running with the client connected to it?

When the server is up and the connection ok, if I use Poll with `SelectMode.SelectRead` before sending data, I experience a delay due to the timeout expiring.
I do not understand if the expected behavior of Poll is:
 - returning `true` quickly, i.e. no timeout expiration
 - returning `false` only after the timeout elapses

I'm not sure I understand your use case @luigiberrettini Maybe simple sample code would help. 
Did you try to us SelectMode.SelectError? 
https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.selectmode?view=netcore-2.0
In general on Unix, you can also select/poll for read will give you notifications about errors. You can do that even if you only intent to write -> like sending data to syslog. Now depending on the network conditions, OS may or may not see socket errors. You can enable TCP keep-alive to do periodic probing if there is no traffic. That would of course not work for syslog over UDP.  

Hi @wfurt here you can find references to the behavior I am asking about in this issue:
 - [Test](https://github.com/luigiberrettini/socket-poll/blob/master/TestSuite.cs)
 - NLog.Targets.Syslog code [1](https://github.com/luigiberrettini/NLog.Targets.Syslog/blob/v5.0.0/src/NLog.Targets.Syslog/MessageSend/MessageTransmitter.cs#L59), [2](https://github.com/luigiberrettini/NLog.Targets.Syslog/blob/v5.0.0/src/NLog.Targets.Syslog/MessageSend/Tcp.cs#L33), [3](https://github.com/luigiberrettini/NLog.Targets.Syslog/blob/v5.0.0/src/NLog.Targets.Syslog/MessageSend/Udp.cs#L20), [4](https://github.com/luigiberrettini/NLog.Targets.Syslog/blob/v5.0.0/src/NLog.Targets.Syslog/Extensions/SocketExtensions.cs#L15)
 - issue https://github.com/luigiberrettini/NLog.Targets.Syslog/issues/120

Basically, besides using KeepAlive, I am trying to detect UDP and TCP disconnections before continuing sending data on a Socket.

1. I cannot write packets with `SelectMode.SelectWrite` because if the Syslog server is not disconnected it will receive bad data and I do not know how it will handle it
2. According to the documentation `SelectMode.SelectRead` is the one to be chosen (SelectError does not detect disconnections)
3. I would like to have a confirmation that by design `Poll` with `SelectMode.SelectRead` returns `false` only after the timeout elapses whereas returns `true` immediately
4. If the behavior at point 3 is confirmed I want to check disconnections (`Poll` with `SelectMode.SelectRead` returning `true`) without impacting on throughput when the Socket is connected (`Poll` with `SelectMode.SelectRead` returning `false`): I must set a very low timeout, but I would like to know if is it reasonable to set it to 0 or 1 or a greater value is needed

Hi @wfurt here you can find references to the behavior I need clarifications about:
 - a simple [test](https://github.com/luigiberrettini/socket-poll/blob/master/TestSuite.cs)
 - NLog.Targets.Syslog code [1](https://github.com/luigiberrettini/NLog.Targets.Syslog/blob/v5.0.0/src/NLog.Targets.Syslog/MessageSend/MessageTransmitter.cs#L59), [2](https://github.com/luigiberrettini/NLog.Targets.Syslog/blob/v5.0.0/src/NLog.Targets.Syslog/MessageSend/Tcp.cs#L33), [3](https://github.com/luigiberrettini/NLog.Targets.Syslog/blob/v5.0.0/src/NLog.Targets.Syslog/MessageSend/Udp.cs#L20), [4](https://github.com/luigiberrettini/NLog.Targets.Syslog/blob/v5.0.0/src/NLog.Targets.Syslog/Extensions/SocketExtensions.cs#L15)
 - issue https://github.com/luigiberrettini/NLog.Targets.Syslog/issues/120

Basically I am trying to detect UDP and TCP (besides using KeepAlive) disconnections before continuing sending data on a Socket.

1. I cannot write packets with `SelectMode.SelectWrite` because if the Syslog server is not disconnected it will receive bad data and I do not know how it will handle it
2. According to the documentation `SelectMode.SelectRead` is the one to be chosen (`SelectMode.SelectError` does not detect disconnections)
3. I would like to have a confirmation that by design `Poll` with `SelectMode.SelectRead` returns `false` only after the timeout elapses whereas returns `true` immediately
4. If the behavior at point 3 is confirmed I want to check disconnections (`Poll` with `SelectMode.SelectRead` returning `true`) without impacting on throughput when the Socket is connected (`Poll` with `SelectMode.SelectRead` returning `false`): I must set a very low timeout, but I would like to know if it is reasonable to set it to 0 or 1 or if a greater value is needed

AFAIK, there is no reliable way how to detect "disconnect" for UDP. (as there is no connection) Your data may or may not be delivered and there is no feedback or confirmation. The only option is getting ICMP (port)unreachable. And you will not get it unless you sent data to closed port.
The C# implementation will throw error only if underlying OS implementation errors out. 

#1 from your previous comment is really confusing. Detection if socket is readable or writable is fully independent of data sent to the socket. 

Using a heartbeat is not feasible because I am not the owner of the Syslog protocol

The only way to know if a Socket is really writable is to send data on it, but to avoid the server receiving bad data I would like to know if I can send some sort of data that is usually discarded (0 bytes array or something else).

I read that `SelectMode.SelectWrite` returns `true` based on the fact that the last write was successful but I want to check the connection when just before I send data on it.

I know that UDP is a connectionless protocol, but in the [UDP constructor](http://referencesource.microsoft.com/#System/net/System/Net/Sockets/UDPClient.cs,159) A `Connect` is made which in turn [retrieves the UDP server IP address and opens a socket](http://referencesource.microsoft.com/#System/net/System/Net/Sockets/UDPClient.cs,a8558911fa236c8d).
Every time I call the `SendAsync` on the `UdpClient` it does not perform a `Connect` and does not simply send to the server ip address and port as I would expect.

As a result I need a way to understand if the Socket can be used to send data on it both for UDP and TCP

To me it is really strange that I am allowed to call Poll on a UDP socket and this does not detects disconnections as stated in the documentation: either the docs should be updated or there should be a TcpSocket class implementing Poll and a UdpSocket not implementing it.

Even if only for the TCP case should I call `Poll` 3 times with `SelectMode.SelectRead`, `SelectMode.SelectWrite` and `SelectMode.SelectError` to be sure to be able to write to a Socket?

Or should I use the approach suggested on [StackOverflow](https://stackoverflow.com/a/722265)?

I would like to have a confirmation that by design `Poll` with `SelectMode.SelectRead` returns `false` only after the timeout elapses whereas returns `true` immediately.
In this case I want to check disconnections (`Poll` with `SelectMode.SelectRead` returning `true`) without impacting on throughput when the Socket is connected (`Poll` with `SelectMode.SelectRead` returning `false`): I must set a very low timeout, but I would like to know if it is reasonable to set it to 0 or 1 or if a greater value is needed

no, I was not suggesting heat-beat and I'm somewhat familiar with syslog protocol. 

Back to the Poll, discussion: The primary function is not to detect disconnects. It can detect errors on socket - and for TCP disconnect is one of them. do "man poll" on your linux system and read the page. Since UDP does not have connection, there is no disconnect and socket will not transition to error mode unless you get ICMP back as I mentioned. (all that is handled at OS level) 

You can sue select() to get all the three attributes in single call. You can use 0 for timeout and the call would return immediately. 

But why don't you just write your data and react to errors? 
You can look at rfc5424 section 8.5. With UDP, you will not get reliability and that includes ability to detect broken servers. 


About heart-beats I only wanted to clarify that it was not feasible for me even if you did not suggest it.
With regard to the OS my library was targeting Windows and now also Linux and OS X.

The [poll man page](https://linux.die.net/man/2/poll) does not help so much in understanding how to detect a disconnection in C# and `Specifying a timeout of zero causes poll() to return immediately, even if no file descriptors are ready` which I honestly cannot link to a "connection is ok/not ok" statement.

As for Syslog RFCs I support both RFC 3164 and RFC 5424.

Unfortunately section 8.5 of RFC 5424 does not explain/suggest implementation details:
`reliable delivery can be implemented in a way that intentionally discards messages when the syslog application would otherwise block. The advantage of reliable delivery in this case is that the syslog originator or relay knowingly discards the message and is able to notify the relay or collector about that fact. So the relay or collector receives the information that something is lost.`

My code is already reacting to errors but I would like to minimize message lost: a potentially big log message can be split in mutiple Syslog messages and if only one fails it would cause the entire message to be lost.

Since I am quite confused, it would be really helpful if you could give me a crystal clear answer on what I should do.
For my understanding I should:
 - for UDP leave it fail
 - for TCP use select in a way that it is similar to checking that
  `Poll(0, SelectMode.SelectRead) == false &&`
  `Poll(0, SelectMode.SelectWrite) == true &&`
  `Poll(0, SelectMode.SelectError) == false`

I don't think poll should be used here for either TCP or UDP especially if you're passing a non-zero wait interval. With a read selector, you're blocking the caller until there is an error or data is available to read (which never happens). Thus 99% of the time you block and this defeats the otherwise async design of this code. And defaulting this timeout to half a second means you're pretty severely limiting throughput (2msgs/s) and blocking a thread. I ran into this right away in when using this extension with my code, and I noted a large spike in worker threads (during a load test in my application), and it was due to the poll in your isConnected() implementation. I disabled it for now in the nlog config.

I'd like to suggest what wfurt was alluding to above in reacting to errors instead of relying on a connection test for each message write. I've rewritten SendMessageAsync() as (showing the original code commented out and my changes):

```
 public Task SendMessageAsync(ByteArray message, CancellationToken token)
        {
            if (token.IsCancellationRequested)
                return Task.FromResult<object>(null);
            /*
            if (Ready)
                return SendAsync(message, token);
            */
            return SendAsync(message, token).ContinueWith(t =>
            {
              // If you want to look at the exception type, you could however 
              // the liklihood is it's IOException (if TCP) or SocketException
              // (if UDP). Other exceptions would likely be due to invalid
              // arguments. In any case we'll recreate the network client and 
              // try again as was originally implemented in the code below
              var delay = neverConnected ? ZeroSecondsTimeSpan : recoveryTime;
              neverConnected = false;
              return Task.Delay(delay, token)
                .Then(_ => ReInit(), token)
                .Unwrap()
                .Then(_ => SendAsync(message, token), token)
                .Unwrap();

            }, TaskContinuationOptions.OnlyOnFaulted).Unwrap();

            /*
            var delay = neverConnected ? ZeroSecondsTimeSpan : recoveryTime;
            neverConnected = false;
            return Task.Delay(delay, token)
                .Then(_ => ReInit(), token)
                .Unwrap()
                .Then(_ => SendAsync(message, token), token)
                .Unwrap();
             */
        }
```



One of the reasons for introducing this check was that during debug sessions I noticed that, after unplugging the cable, the first Write did not fail, therefore I was losing messages.
In a logging library this can be ok, but I would like to understand how not to lose messages only reacting on errors: should I keep a cache of the last sent message and how to avoid duplication?

UDP is unreliable and you can always loose some messages. The write() will succeed when you get your data into socket buffer in kernel. You can try to write simple C program to study OS behavior. 