TLS 1.0 in Windows Client may still vulnerable to Beast

This is a followup issue raised on https://github.com/dotnet/corefx/issues/5187#issuecomment-175138937

Based on this security vulnerability.
http://blogs.msdn.com/b/kaushal/archive/2012/01/21/fixing-the-beast.aspx

***The BEAST vulnerability is addressed by splitting (or fragmenting) the application data in to SSL records in the fashion 1/(n-1). This is explained in RFC2246 (section 6.2.1 Fragmentation).***

In Unix, we get these split bytes which is the fix for Beast Vulnerability
![image](https://cloud.githubusercontent.com/assets/698547/12596701/0263bd3c-c436-11e5-9f02-c6c8661dedb2.png)


But In Windows, we don't get this split bytes.
![image](https://cloud.githubusercontent.com/assets/698547/12596711/11c30742-c436-11e5-8f21-aaac7faad199.png)


I just want to make sure that TLS 1.0 in Windows Client does not vulnerable to this BEAST Security issue.

References :
http://blogs.msdn.com/b/kaushal/archive/2012/01/21/fixing-the-beast.aspx
http://blogs.msdn.com/b/kaushal/archive/2011/10/03/taming-the-beast-browser-exploit-against-ssl-tls.aspx
http://vnhacker.blogspot.com/2011/09/beast.html
Sql Server 2008 Patch - https://support.microsoft.com/en-us/kb/2653857



CC @joshfree @vijaykota @ericeil @saurabh500 

TLS/SSL implementation in CoreFx for Windows is layered on top of the native Windows SCHANNEL component.

I will follow with that team for details.

We'll discuss the issue internally. Locking the thread.