[SslStream] CheckX509Hostname wildcard matching may be too restrictive

[RFC 2595](http://www.ietf.org/rfc/rfc2595.txt) says:

```
   - A "*" wildcard character MAY be used as the left-most name
     component in the certificate.  For example, *.example.com would
     match a.example.com, foo.example.com, etc. but would not match
     example.com.
```

[RFC 2818](http://www.ietf.org/rfc/rfc2818.txt) says:

```
   Matching is performed using the matching rules specified by
   [RFC2459].  If more than one identity of a given type is present in
   the certificate (e.g., more than one dNSName name, a match in any one
   of the set is considered acceptable.) Names may contain the wildcard
   character * which is considered to match any single domain name
   component or component fragment. E.g., *.a.com matches foo.a.com but
   not bar.foo.a.com. f*.com matches foo.com but not bar.com.
```

Where did the `f*.com` => `foo.com` example come from?


@bartonjs please add more details.

Is the .Net Framework behavior different from .Net Core on Unix?

I don't know.  It might be different (that's why I said "may be" in the title).  I wrote it to only accept `*.stuff`, not `some*.stuff` (asterisk must be the first character, it must be succeeded by a period).

1) Is it different? (I don't know)
2) If it's different, does it matter? (Would a CA issue a `some*.stuff` cert?)
  * If `some*.stuff` validates differently to Windows, curl, and macOS, maybe it doesn't matter that SslStream on Linux uses a tighter restriction.



We have discussed this internally and together with the Windows Crypto team decided that the code is doing the right thing as-is.
I'll remove the code comment and submit a PR that will close this issue.