System.Security.Cryptography.Hashing.Algorithms: HMAC::get_Key behavior differs from desktop on large keys.

Desktop:
```
HMAC hmac = new HMACSHA1();
hmac.Key = new byte[65];
int length = hmac.Key.Length; // 20
```

CoreFX:
```
HMAC hmac = new HMACSHA1();
hmac.Key = new byte[65];
int length = hmac.Key.Length; // 65
```

[RFC 2104, section 2](https://tools.ietf.org/html/rfc2104#section-2) says "Applications that use keys longer than B bytes will first hash the key using H and then use the resultant L byte string as the actual key to HMAC.".  In this case, SHA-1's block size (B) is 64, so the key is replaced with H(K).  And then hmac.Key should return the H(K) answer, instead of the value which was set.

Once this bug is fixed, there should be a test that verifies it.

This was fixed via PR 1774, it just didn't trip the auto-close syntax.